OZone/Platforms/Ibm/Pc/Keyboard/Keyboard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Keyboard" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="DataPort">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ControlPort">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="StatusPort">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetCpu">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>