OZone/Platforms/Ibm/Pc/Keyboard/ScanCodes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Keyboard/ScanCodes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Error">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Escape">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="One">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Two">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Three">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Four">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Five">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Six">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Seven">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Eight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Nine">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Zero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Minus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Equals">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Backspace">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Tab">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Q">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="W">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="E">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="R">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="T">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Y">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="U">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="I">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="O">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="P">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OpenBracket">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CloseBracket">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Enter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LeftControl">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="A">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="S">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="D">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="G">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="H">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="J">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="K">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="L">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Semicolon">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SingleQuote">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BackQuote">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LeftShift">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Backslash">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Z">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="X">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="C">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="V">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="B">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="N">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="M">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Comma">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Period">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Slash">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RightShift">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadAsterisk">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LeftAlternate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Space">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftLock">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F4">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F5">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F6">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F7">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F9">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F10">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NumberLock">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ScrollLock">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadSeven">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadEight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadNine">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadMinus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadFour">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadFive">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadSix">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadPlus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadOne">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadTwo">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadThree">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeypadPeriod">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SystemRequest">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Function">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Unlabeled">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F11">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F12">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>