OZone/Platforms/Amd/Amd64/ExtendedOperators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Amd/Amd64/ExtendedOperators" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="DescriptorTableFunction">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallSystem">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyControlRegisterToRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyRegisterToControlRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAXDXToCXModelSpecificRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCXModelSpecificRegisterToAXDX">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetCpuInformation">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>