OZone/Platforms/Ibm/Pc/Pata/Commands.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Pata/Commands" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="NoOperation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetDevice">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;08&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Recalibrate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;10&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadSectorsAndRetry">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;20&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadSectors">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;21&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadLongAndRetry">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;22&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;23&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteSectorsAndRetry">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;30&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteSectors">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;31&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteLongAndRetry">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;32&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;33&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteVerify">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadVerifySectorsAndAndRetry">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;40&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadVerifySectors">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;41&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FormatTrack">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;50&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Seek">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;70&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExecuteDiagnostics">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;90&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InitializeDriveParameters">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;91&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DownloadMicrocode">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;92&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="StandbyImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;94&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IdleImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;95&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Standby">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;96&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Idle">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;97&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CheckPowerMode">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;98&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetSleepMode">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;99&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Packet">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IdentifyAtapi">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SelfMonitor">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadMultiple">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteMultiple">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetMultipleMode">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadDmaOQ">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadDmaAndRetry">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadDma">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteDmaAndRetry">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteDma">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteDmaOQ">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetMediaStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AcknowledgeMediaChange">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PostBoot">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PreBoot">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DoorLock">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DoorUnlock">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadBuffer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteBuffer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteSame">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecureDisable">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecureLock">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecureState">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecureEnableWriteProtect">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecureEnable">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecureUnlock">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IdentifyDrive">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MediaEject">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;ED&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IdentifyDeviceDma">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetFeatures">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecuritySetPassword">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecurityUnlock">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecurityErasePrepare">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecurityEraseUnit">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecurityFreezeLock">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecurityDisablePassword">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>