OZone/Platforms/Ibm/Pc/Pata/DriveIdentity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Pata/DriveIdentity" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Configuration">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TrackCount">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="HeadCount">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;06&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SectorCount">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SerialNumber">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;14&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BufferSize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FirmwareVersion">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ModelNumber">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;36&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultipleReadWriteSupport">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DoublewordTransferSupport">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;60&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Capabilities">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;62&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecurityMode">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;64&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PioDataTransferTiming">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;66&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DmaDataTransferTiming">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;68&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FieldValidity">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LogicalTrackCount">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LogicalHeadCount">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LogicalSecorCount">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;70&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentSectorCapacity">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;72&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MutipleSectorSupport">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;76&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TotalSectorCount">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;78&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DmaTransferModes">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiwordDmaTransferModes">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PioFlowControlTransferModes">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;80&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiwordDmaTransferTimeMinimum">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;82&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiwordDmaTransferTimeRecommended">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;84&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PioTransferTimeMinimum">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;86&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PioFlowControlTransferTimeMinimum">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;88&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CommandQueue">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;92&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MajorRevision">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MinorRevision">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FeatureSet1Support">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FeatureSet2Support">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FeatureSetSupportExtension">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FeatureSet1Enabled">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FeatureSet2Enabled">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FeatureSetEnabledExtension">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>