OZone/Platforms/W3c/Tftp/Errors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/W3c/Tftp/Errors" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Undefined">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0000&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FileNotFound">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AccessViolation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0002&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DiskFull">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0003&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IllegalOperation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0004&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="UnknownTransferID">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0005&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FileAlreadyExists">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0006&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NoSuchUser">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0007&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>