OZone/Platforms/W3c/Tftp/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/W3c/Tftp/Operators" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ReadRequest">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteRequest">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0002&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Data">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0003&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Acknowledgment">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0004&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Error">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0005&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>