OZone/Platforms/Intel/80386/Registers/ControlRegister0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80386/Registers/ControlRegister0" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ProtectionEnabled">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;01&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MonitorCoprocessor">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;02&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="FpuEmulation">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;04&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TaskSwitchDetected">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;08&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="FpuSupported">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;10&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NativeFpuErrorsEnabled">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;20&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WriteProtectEnabled">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;00010000&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AutomaticAlignmentCheckingEnabled">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;00040000&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WriteThroughDisabled">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;20000000&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CacheDisabled">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;40000000&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PagingEnabled">
    <xsd:annotation>
      <xsd:documentation>
							&lt;hex&gt;80000000&lt;/hex&gt;
							</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
</xsd:schema>