OZone/Platforms/Ibm/Pc/Pic/Commands.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Pic/Commands" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Initialize">
		<xsd:annotation>
			<xsd:documentation>
				Command(Initialize)
				Data(InterruptOffset)
				Data(SlaveInterrupt)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InitializeForEnvironment">
		<xsd:annotation>
			<xsd:documentation>
				Command(InitializeForEnvironment)
				Data(InterruptOffset)
				Data(SlaveInterrupt)
				Data(Environment)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Environment8086Mode">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EndOfInterrupt">
		<xsd:annotation>
			<xsd:documentation>
				Command(EndOfInterrupt)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>