OZone/Platforms/Ibm/Pc/Pic/Ports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Pic/Ports" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="MasterCommand">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MasterData">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SlaveCommand">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SlaveData">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>