OZone/Platforms/Ibm/Pc/Sata/Frames.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Pata/Commands" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="RegisterHostToDevice">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;27&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RegisterDeviceToHost">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;34&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DmaActivate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;39&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DmaSetup">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;41&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Data">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;46&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BuiltInSelftTestActivate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;58&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PioSetup">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetDeviceBits">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>