OZone/Platforms/Nintendo/GameBoy/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Nintendo/GameBoy/Operators" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="NoOperation">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToBC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToBCAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementBC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateALeftToCarryFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopySPToImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddBCToHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBCAddressToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementBC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateARightToCarryFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WaitForButtonPress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToDEAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementDE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateAAndCarryFlagLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToRelativeAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDEToHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDEAddressToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementDE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateAAndCarryFlagRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeAddressIfNotZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToHLAddressAndIncrementHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertAToDecimal">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeAddressIfZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddHLToHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLAddressToAAndIncrementHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ComplementA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeAddressIfNotCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToSP">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToHLAddressAndDecrementHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementSP">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetCarryFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeAddressIfCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddSPToHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLAddressToAAndDecrementHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementSP">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ComplementCarryFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyEToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLAddressToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyEToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLAddressToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyEToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLAddressToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyEToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLAddressToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyEToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLAddressToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyEToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLAddressToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyEToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WaitForInterrupt">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyEToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLAddressToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddBToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddCToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddEToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddHToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddLToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddHLAddressToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddBPlusCarryFlagToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddCPlusCarryFlagToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDPlusCarryFlagToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddEPlusCarryFlagToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddHPlusCarryFlagToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddLPlusCarryFlagToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddHLAddressPlusCarryFlagToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAPlusCarryFlagToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractBFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractCFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractEFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractHFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractLFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractHLAddressFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractBPlusCarryFlagFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractCPlusCarryFlagFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDPlusCarryFlagFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractEPlusCarryFlagFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractHPlusCarryFlagFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractLPlusCarryFlagFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractHLAddressPlusCarryFlagFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAPlusCarryFlagFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAWithB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAWithC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAWithD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAWithE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAWithH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAWithL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAWithHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAWithA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAWithB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAWithC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAWithD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAWithE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAWithH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAWithL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAWithHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAWithA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAWithB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAWithC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAWithD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAWithE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAWithH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAWithL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAWithHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAWithA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAToB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAToC">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAToD">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAToE">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAToH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAToL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnToCallerIfNotZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullBCFromStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToAbsoluteAddressIfNotZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallAbsoluteAddressIfNotZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushBCToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddImmediateToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallSystemFunction0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnToCallerIfZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnToCaller">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToAbsoluteAddressIfZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BitwiseFunctions">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallAbsoluteAddressIfZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddImmediatePlusCarryFlagToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallSystemFunction1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnToCallerIfNotCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullDEFromStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToAbsoluteAddressIfNotCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallAbsoluteAddressIfNotCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDEToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractImmediateFromA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallSystemFunction2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnToCallerIfCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnToCallerAndEnableInterrupts">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToAbsoluteAddressIfCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallAbsoluteAddressIfCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallSystemFunction3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToLastPagePlusImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullHLFromStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToLastPagePlusCAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushHLToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAWithImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallSystemFunction4">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddImmediateToSP">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToHLAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAToImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAWithImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallSystemFunction5">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLastPagePlusImmediateAddressToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullAFFromStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyLastPagePlusCAddressToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DisableInterrupts">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushAFToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAWithImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallSystemFunction6">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopySPPlusImmediateToHL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyHLToSP">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateAddressToA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EnableInterrupts">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAToImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallSystemFunction7">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>