OZone/Platforms/Intel/Pxe/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/Pxe/Operators" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="UnloadStack">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0070&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetCachedInfo">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0071&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RestartTftp">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0073&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="StartUniversalNetworkDriver">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0000&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="StopUniversalNetworkDriver">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0015&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="StartBase">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0075&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="StopBase">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0076&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OpenTftpConnection">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0020&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CloseTftpConnection">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0021&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadTftpPacket">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0022&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadTftpFile">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0023&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetTftpFileSize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0025&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OpenUdpConnection">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0030&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CloseUdpConnection">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0031&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteUdpPacket">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0033&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadUdpPacket">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0032&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="StartUniversalNetwork">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CleanupUniversalNetwork">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0002&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InitializeUniversalNetwork">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0003&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetUniversalNetworkAdapter">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0004&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShutdownUniversalNetwork">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0005&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OpenUniversalNetwork">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0006&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CloseUniversalNetwork">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0007&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitUniversalNetworkPacket">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0008&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetUniversalNetworkMulticastAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0009&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetUniversalNetworkStationAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;000a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetUniversalNetworkPacketFilter">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;000b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetUniversalNetworkInformation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;000c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetUniversalNetworkStatistics">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;000d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearUniversalNetworkStatistics">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;000e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InitiateUniversalNetworkDiagnostics">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;000f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ForceUniversalNetworkInterrupt">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0010&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetUniversalNetworkMulticastAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0011&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetUniversalNetworkAdapterType">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0012&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetUniversalNetworkInterfaceInformation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0013&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetUniversalNetworkState">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0015&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExecuteInterruptServiceRoutine">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0014&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>