OZone/Platforms/Intel/Pxe/Structures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/Pxe/Structures" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Pxenv">
		<xsd:annotation>
			<xsd:documentation>
				Length: 14
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Pxenv.Signature">
		<xsd:annotation>
			<xsd:documentation>
				&lt;byte&gt;0&lt;/byte&gt;
				Length: 6
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Pxenv.Version">
		<xsd:annotation>
			<xsd:documentation>
				&lt;byte&gt;6&lt;/byte&gt;
				Length: 2
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Pxenv.Length">
		<xsd:annotation>
			<xsd:documentation>
				&lt;byte&gt;8&lt;/byte&gt;
				Length: 1
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Pxenv.Checksum">
		<xsd:annotation>
			<xsd:documentation>
				&lt;byte&gt;9&lt;/byte&gt;
				Length: 1
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Pxenv.EntryPointOffset">
		<xsd:annotation>
			<xsd:documentation>
				&lt;byte&gt;10&lt;/byte&gt;
				Length: 2
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Pxenv.EntryPointSegment">
		<xsd:annotation>
			<xsd:documentation>
				&lt;byte&gt;12&lt;/byte&gt;
				Length: 2
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>