OZone/Platforms/Nintendo/Nes/PictureProcessingUnit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Nintendo/Nes/PictureProcessingUnit" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PatternTable0">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PatternTable1">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameTable0">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AttributeTable0">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameTable1">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AttributeTable1">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameTable2">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AttributeTable2">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameTable3">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AttributeTable3">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BackgroundColor">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BackgroundPalette0">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BackgroundPalette1">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BackgroundPalette2">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BackgroundPalette3">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SpritePalette0">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SpritePalette1">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SpritePalette2">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SpritePalette3">
		<xsd:complexType>
			<xsd:attribute name="label" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>