OZone/Platforms/Nintendo/Nes/Registers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Nintendo/Nes/Registers" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PpuControl0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PpuControl1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PpuStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SpriteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SpriteData">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ScreenScroll">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PpuAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PpuData">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Square0VolumeAndDecay">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Square1VolumeAndDecay">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NoiseVolumeAndDecay">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TriangleVolumeAndDecay">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Square0Sweep">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Square1Sweep">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Square0Frequency">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Square1Frequency">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NoiseSampleRate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TriangleFrequency">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Square0Length">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Square1Length">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NoiseLength">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TriangleLength">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DmaSpriteTransfer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SoundChannel">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Joystick1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Joystick2">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>