OZone/Platforms/Intel/Ac97/BusMaster/BusMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/Ac97/BusMaster" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PrimaryCodec">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SecondaryCodec">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;80&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TertiaryCodec">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0100&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmInBufferListAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmInCurrentIndex">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmInLastValidIndex">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;05&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmInStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;06&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmInPositionInCurrentBuffer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;08&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmInPrefetchIndex">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmInControl">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmOutBufferListAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;10&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmOutCurrentIndex">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;14&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmOutLastValidIndex">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;15&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmOutStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;16&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmOutPositionInCurrentBuffer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;18&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmOutPrefetchIndex">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcmOutControl">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MicrophoneBufferListAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;20&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MicrophoneCurrentIndex">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;24&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MicrophoneLastValidIndex">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;25&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MicrophoneStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;26&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MicrophonePositionInCurrentBuffer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;28&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MicrophonePrefetchIndex">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MicrophoneControl">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GlobalControl">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GlobalStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;30&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CodecAccessSemiphore">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;34&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>