OZone/Platforms/Usb/Ohci/Communication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Usb/Ohci/Communication" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="InterruptEndpointDescriptorAddresses">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;

				Array of 32 interrupt endpoint descriptor addresses.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FrameNumber">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;80&lt;/hex&gt;

				The current frame number.

				FrameNumber		16 bits
				Zero						16 bits
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="HeadDoneTransferDescriptorAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;84&lt;/hex&gt;

				Address of the first entry in the Done list.

				InterruptStatus		1 bit
				Zero						3 bits
				
				Address				28 bits
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>