OZone/Platforms/Commodore/C64/Audio.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema targetNamespace="http://metalx.org/Commodore64/Audio" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Channel0FrequencyLow">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel0FrequencyHigh">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel0PulseWaveDutyCycleLow">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel0PulseWaveDutyCycleHigh">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel0Control">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel0AttackDelay">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel0SustainRelease">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel1FrequencyLow">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel1FrequencyHigh">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel1PulseWaveDutyCycleLow">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel1PulseWaveDutyCycleHigh">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel1Control">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel1AttackDelay">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel1SustainRelease">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel2FrequencyLow">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel2FrequencyHigh">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel2PulseWaveDutyCycleLow">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel2PulseWaveDutyCycleHigh">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel2Control">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel2AttackDelay">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel2SustainRelease">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FilterCutoffFrequencyLow">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FilterCutoffFrequencyHigh">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FilterControl">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VolumeControl">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>