OZone/Platforms/Commodore/C64/Kernel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Commodore64/Kernel" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="InitializeScreenAndKeyboard">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InitializeIODevices">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InitializeMemoryPointers">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RestoreIOVectors">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SetIOVectors">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ControlKernelMessages">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ScanKeyboard">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReadIODeviceBaseAddress">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NonMaskableInterrupt">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Reset">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Interrupt">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WriteCharacterToScreen">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetCharacterFromKeyboard">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReadStringCharacter">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WriteCharacter">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReadCharacter">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>