OZone/Platforms/Commodore/C64/Keyboard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Commodore64/Keyboard" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Enter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Escape">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Backspace">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>