OZone/Platforms/Commodore/C64/Memory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Commodore64/Memory" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SystemCharacterColor">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SystemBackgroundCursorColor">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SystemLowerCaseMode">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VideoBorderColor">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VideoBackgroundColor0">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VideoBackgroundColor1">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VideoBackgroundColor2">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VideoBackgroundColor3">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VideoCharacterSettings">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelInitializeScreenAndKeyboard">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelInitializeIODevices">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelInitializeMemoryPointers">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelRestoreIOVectors">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelSetIOVectors">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelControlKernelMessages">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelScanKeyboard">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelReadIODeviceBaseAddress">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelNonMaskableInterrupt">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelReset">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelInterrupt">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelWriteCharacterToScreen">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KernelGetCharacterFromKeyboard">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>