OZone/Platforms/Commodore/C64/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Commodore64/System" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CpuPortDirectionControl">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CpuRomBankControl">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CharacterColor">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BackgroundCursorColor">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LowerCaseMode">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>