OZone/Platforms/Commodore/C64/Video.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Commodore64/Video" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BorderColor">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BackgroundColor0">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BackgroundColor1">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BackgroundColor2">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BackgroundColor3">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CharacterSettings">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>