OZone/Platforms/RaspberryPi/VideoCore/Tags.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/RaspberryPi/VideoCore/Tags" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GetFirmwareRevision">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00000001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetBoardModel">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00010001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetBoardRevision">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00010002&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetBoardMacAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00010003&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetBoardSerial">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00010004&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArmMemory">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00010005&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetVideoCoreMemory">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00010006&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetClocks">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00010007&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetCommandLine">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00050001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetDmaChannels">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00060001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetPowerState">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00020001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetTiming">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00020002&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetPowerState">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00028001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetClockState">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetClockState">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00038001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetClockRate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030002&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetClockRate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00038002&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetMaximumClockRate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030004&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetMinimumClockRate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030007&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetTurbo">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030009&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetTurbo">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00038009&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetVoltage">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030003&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetVoltage">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00038003&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetMaximumVoltage">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030005&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetMinimumVoltage">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030008&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetTemperature">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030006&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetMaximumTemperature">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0003000A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AllocateMemory">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0003000C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LockMemory">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0003000D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="UnlockMemory">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0003000E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReleaseMemory">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0003000F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExecuteCode">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030010&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetEdidBlock">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00030020&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AllocateBuffer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00040001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReleaseBuffer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00048001&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BlankScreen">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00040002&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetPhysicalDisplaySize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00040003&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestPhysicalDisplaySize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00044003&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetPhysicalDisplaySize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00048003&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetVirtualDisplaySize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00040004&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestVirtualDisplaySize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00044004&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetVirtualDisplaySize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00048004&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetDepth">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00040005&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestDepth">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00044005&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetDepth">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00048005&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetPixelOrder">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00040006&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestPixelOrder">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00044006&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetPixelOrder">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00048006&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetAlphaMode">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00040007&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestAlphaMode">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00044007&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetAlphaMode">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00048007&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetPitch">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00040008&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetVirtualOffset">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00040009&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestVirtualOffset">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00044009&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetVirtualOffset">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00048009&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetOverscan">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0004000a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestOverscan">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0004400a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetOverscan">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0004800a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetPalette">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0004000b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestPalette">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0004400b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetPalette">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0004800b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>