OZone/Platforms/Mos/65816/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://metalx.org/Mos/65816/Operators" elementFormDefault="qualified">
	<xsd:element name="AddDirectAddressPlusXIndexPointerToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddStackRelativeAddressToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDirectAddressToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDirectAddressLongPointerToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddImmediateToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAbsoluteAddressToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAbsoluteLongAddressToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDirectAddressPointerPlusYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDirectAddressPointerToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddStackRelativePointerPlusYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDirectAddressPlusXIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDirectAddressLongPointerPlusYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAbsoluteAddressPlusYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAbsoluteAddressPlusXIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAbsoluteLongAddressPlusXIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithDirectAddressPlusXIndexPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithStackRelativeAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithDirectAddressLongPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithAbsoluteLongAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithDirectAddressPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithDirectAddressPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithStackRelativePointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithDirectAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithDirectAddressLongPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithAbsoluteAddressPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithAbsoluteAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAccumulatorWithAbsoluteLongAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftDirectAddressLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftAccumulatorLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftAbsoluteAddressLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftDirectAddressPlusXIndexLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftAbsoluteAddressPlusXIndexLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfLessThan">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfGreaterOrEqual">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfEqual">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestDirectAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestAbsoluteAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfNegative">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfNotEqual">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfPositive">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToRelative">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Break">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToRelativeLong">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfNotOverflow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfOverflow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearCarryFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearDecimalFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearInterruptDisableFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CleareOverflowFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToDirectAddressPlusXIndexPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToStackRelativeAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToDirectAddressLongPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteLongAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToDirectAddressPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToDirectAddressPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToStackRelativePointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToDirectAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToDirectAddressLongPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteAddressPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteLongAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EnableCoprocessor">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareIndexXToImmediate ">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareIndexXToDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareIndexXToAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareIndexYToImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareIndexYToDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareIndexYToAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementDirectAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementAbsoluteAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithDirectAddressPlusXIndexPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithStackRelativeAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithDirectAddressLongPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithAbsoluteLongAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithDirectAddressPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithDirectAddressPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithStackRelativePointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithDirectAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithDirectAddressLongPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithAbsoluteAddressPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithAbsoluteAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAccumulatorWithAbsoluteLongAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementDirectAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementAbsoluteAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToAbsoluteLongAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToAbsoluteAddressPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToAbsoluteAddressPlusXIndexPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToAbsoluteLongAddressPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallAbsoluteLongAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallAbsoluteAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressPlusXIndexPointerToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyStackRelativeAddressToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressLongPointerToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteAddressToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteLongAddressToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressPointerPlusYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressPointerToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyStackRelativePointerPlusYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressPlusXIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressLongPointerPlusYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteAddressPlusYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteAddressPlusXIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteLongAddressPlusXIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteAddressToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddresPlusYIndexToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteAddressPlusYIndexToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteAddressToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectAddressPlusXIndexToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteAddressPlusXIndexToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftDirectAddressRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftAccumulatorRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftAbsoluteAddressRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftDirectAddressPlusXIndexRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftAbsoluteAddressPlusXIndexRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBytesFromImmeidateBlockPlusXIndexToImmediateBlockPlusYIndexReverse">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyBytesFromImmeidateBlockPlusXIndexToImmediateBlockPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NoOperation">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithDirectAddressPlusXIndexPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithStackRelativeAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithDirectAddressLongPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithAbsoluteLongAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithDirectAddressPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithDirectAddressPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithStackRelativePointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithDirectAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithDirectAddressLongPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithAbsoluteAddressPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithAbsoluteAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAccumulatorWithAbsoluteLongAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushRelativeLongPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDataBank">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDirectPage">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushProgramBank">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFlags">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullDataBank">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullDirectPage">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullFlags">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearImmediateFlags">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateDirectAddressLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateAccumulatorLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateAbsoluteAddressLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateDirectAddressPlusXIndexLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateAbsoluteAddressPlusXIndexLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateDirectAddressRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateAccumulatorRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateAbsoluteAddressRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateDirectAddressPlusXIndexRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateAbsoluteAddressPlusXIndexRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnFromInterrupt">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnToLongCaller">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnToCaller">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDirectSubtractressPlusXIndexPointerFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractStackRelativeSubtractressFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDirectSubtractressFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDirectSubtractressLongPointerFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractImmediateFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAbsoluteSubtractressFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAbsoluteLongSubtractressFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDirectSubtractressPointerPlusYIndexFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDirectSubtractressPointerFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractStackRelativePointerPlusYIndexFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDirectSubtractressPlusXIndexFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDirectSubtractressLongPointerPlusYIndexFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAbsoluteSubtractressPlusYIndexFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAbsoluteSubtractressPlusXIndexFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAbsoluteLongSubtractressPlusXIndexFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetCarryFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetDecimalFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetInterruptDisableFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetImmediateFlags">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToDirectAddressPlusXIndexPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToStackRelativeAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToDirectAddressLongPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToAbsoluteLongAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToDirectAddressPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToDirectAddressPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToStackRelativePointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToDirectAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToDirectAddressLongPointerPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToAbsoluteAddressPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToAbsoluteAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToAbsoluteLongAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="StopProcessor">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToDirectAddressPlusYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyYIndexToDirectAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyYIndexToAbsoluteAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyYIndexToDirectAddressPlusXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetDirectAddressToZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetDirectAddressPlusXIndexToZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetAbsoluteAddressToZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetAbsoluteAddressPlusXIndexToZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToDirectPage">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToStackPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyDirectPageToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToDirectAddressAndClearBits">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteAddressAndClearBits">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToDirectAddressAndSetBits">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteAddressAndSetBits">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyStackPointerToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyStackPointerToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToStackPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyYIndexToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WaitForInterrupt">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExtendedOperation">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExchangeAccumulators">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExchangeCarryFlagWithEmulationFlag">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>