OZone/Platforms/Atari/2600/PeripheralInterfaceAdapter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Atari/2600/PeripheralInterfaceAdapter" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PortAData">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PortADirection">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PortBData">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PortBDirection">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TimerValue">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetTimer1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetTimer8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetTimer64">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetTimer1024">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>