OZone/Platforms/Atari/2600/TelevisionInterfaceAdapter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Atari/2600/TelevisionInterfaceAdapter" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="VerticalSync">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="VerticalBlank">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WaitForHorizontalSync">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetHorizontalSync">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayerAndMissileSize0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayerAndMissileSize1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player0Color">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player1Color">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayfieldAndBallColor">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BackgroundColor">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayfieldAndBallControl">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayerReflect0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayerReflect1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayfieldGraphics0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayfieldGraphics1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayfieldGraphics2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetPlayer0Position">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetPlayer1Position">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetMissile0Position">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetMissile1Position">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetBallPosition">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AudioControl0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AudioControl1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AudioFrequency0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AudioFrequency1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AudioVolume0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AudioVolume1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player0Graphics">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player1Graphics">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Missile0Enable">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Missile1Enable">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BallEnable">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player0HorizontalMotion">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player1HorizontalMotion">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Missile0HorizontalMotion">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Missile1HorizontalMotion">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BallHorizontalMotion">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player0VerticalDelay">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player1VerticalDelay">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BallVerticalDelay">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetMissileToPlayer0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetMissileToPlayer1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MoveAllObjects">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="StopAllObjects">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearCollisions">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Missile0CollidedWithPlayer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Missile1CollidedWithPlayer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player0CollidedWithFieldOrBall">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Player1CollidedWithFieldOrBall">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Missile0CollidedWithFieldOrBall">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Missile1CollidedWithFieldOrBall">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BallCollidedWithField">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlayerOrMissileCollision">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Input0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Input1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Input2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Input3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PaddleInput0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PaddleInput1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PaddleInput2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PaddleInput3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Input4">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Input5">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>