OZone/Platforms/W3c/Wasm/Operators.xsd

<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://metalx.org/W3c/Wasm/Operators">
	<xsd:element name="UnreachableCodeTrap">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NoOperation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Block">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Loop">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="If">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Else">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;05&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="End">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BreakImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BreakImmediateIf">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchTable">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Return">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Call">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;10&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallIndirect">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;11&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Drop">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Select">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediateLocal">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;20&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullImmediateLocal">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;21&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PeekImmedateLocal">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;22&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediateGlobal">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;23&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullImmediateGlobal">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;24&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerAtImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;28&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushLongAtImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;29&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFloatAtImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDoubleAtImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushSignedByteAtImmediateAddress32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushByteAtImmediateAddress32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushShortAtImmediateAddress32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushUnsignedShortAtImmediateAddress32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushSignedByteAtImmediateAddress64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;30&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushByteAtImmediateAddress64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;31&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushShortAtImmediateAddress64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;32&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushUnsignedShortAtImmediateAddress64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;33&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerAtImmediateAddress64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;34&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushUnsignedIntegerAtImmediateAddress64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;35&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullIntegerAtImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;36&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullLongAtImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;37&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullFloatAtImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;38&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullDoubleAtImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;39&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullByteAtImmediateAddress32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullShortAtImmediateAddress32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullByteAtImmediateAddress64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullShortAtImmediateAddress64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullIntegerAtImmediateAddress64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediateMemorySize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncreaseImmediateMemorySize">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;40&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediateInteger">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;41&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediateLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;42&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediateFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;43&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediateDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;44&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsIntegerZero">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;45&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsIntegerEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;46&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsIntegerNotEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;47&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsIntegerLess">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;48&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsUnsignedIntegerLess">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;49&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsIntegerGreater">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsUnsignedIntegerGreater">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsIntegerLessOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsUnsignedIntegerLessOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsIntegerGreaterOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsUnsignedIntegerGreaterOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsLongZero">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;50&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsLongEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;51&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsLongNotEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;52&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsLongLess">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;53&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsUnsignedLongLess">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;54&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsLongGreater">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;55&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsUnsignedLongGreater">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;56&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsLongLessOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;57&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsUnsignedLongLessOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;58&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsLongGreaterOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;59&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsUnsignedLongGreaterOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsFloatEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsFloatNotEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsFloatLess">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsFloatGreater">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsFloatLessOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsFloatGreaterOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;60&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsDoubleEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;61&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsDoubleNotEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;62&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsDoubleLess">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;63&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsDoubleGreater">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;64&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsDoubleLessOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;65&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IsDoubleGreaterOrEqual">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;66&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CountLeadingClearBits32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;67&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CountTrailingClearBits32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;68&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CountSetBits32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;69&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddInteger">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractInteger">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyInteger">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideInteger">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideUnsignedInteger">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideIntegerRemainder">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideUnsignedIntegerRemainder">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;70&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndInteger">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;71&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrInteger">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;72&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrInteger">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;73&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftIntegerLeft">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;74&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftIntegerRight">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;75&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftUnsignedIntegerRight">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;76&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateIntegerLeft">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;77&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateIntegerRight">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;78&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CountLeadingClearBits64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;79&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CountTrailingClearBits64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CountSetBits64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideUnsignedLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;80&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideLongRemainder">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;81&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideUnsignedLongRemainder">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;82&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;83&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;84&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrLong">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;85&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftLongLeft">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;86&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftLongRight">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;87&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftUnsignedLongRight">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;88&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateLongLeft">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;89&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RotateLongRight">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AbsoluteFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NegateFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CeilingFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FloorFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TruncateFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NearesetFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;90&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SquareRootFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;91&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;92&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;93&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;94&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;95&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MinimumFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;96&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MaximumFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;97&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SignFloat">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;98&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AbsoluteDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;99&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NegateDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CeilingDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FloorDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TruncateDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NearesetDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SquareRootDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MinimumDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MaximumDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SignDouble">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>