OZone/Functions/65C02/Memory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/65C02/Functions/Memory" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="Set">
		<xsd:complexType>
			<xsd:attribute name="address" type="xsd:hexBinary"/>
			<xsd:attribute name="value" type="xsd:hexBinary"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
