OZone/Functions/65C02/String.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/65C02/Functions/String" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Create">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Clear">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="AppendCharacter">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="TrimLastCharacter">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="GetLength">
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>
