OZone/Platforms/Ansi/Ascii/Ascii.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://metalx.org/Ansi/Ascii"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Null">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Beep">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Backspace">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Tab">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LineFeed">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CarriageReturn">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Escape">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Delete">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Space">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Exclamation">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Quote">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Pound">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Dollar">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Percent">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Ampersand">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Apostrophe">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LeftParenthesis">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RightParenthesis">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Asterisk">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Plus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Comma">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Minus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Period">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Slash">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Zero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="One">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Two">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Three">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Four">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Five">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Six">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Seven">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Eight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Nine">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Colon">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Simicolon">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LessThan">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Equal">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GreaterThan">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Question">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="At">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="A">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="B">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="C">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="D">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="E">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="F">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="G">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="H">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="I">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="J">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="K">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="L">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="M">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="N">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="O">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="P">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Q">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="R">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="S">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="T">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="U">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="V">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="W">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="X">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Y">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Z">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LeftBracket">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Backslash">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RightBracket">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Caret">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Underscore">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Grave">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="a">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="b">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="c">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="d">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="e">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="f">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="g">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="h">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="i">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="j">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="k">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="l">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="m">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="n">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="o">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="p">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="q">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="r">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="s">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="t">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="u">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="v">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="w">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="x">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="y">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="z">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LeftBrace">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Pipe">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RightBrace">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Tilde">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>