OZone/Platforms/Ibm/Pc/Bios/Clock.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Bios/Clock" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ReadRealTimeClock">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetRealTimeClock">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadRealTimeClockTime">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AH=ReadRealTimeClockTime

				Output:
				CH=Hours
				CL=Minutes
				DH=Seconds
				DL=DaylightSavingsTime
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetRealTimeClockTime">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadRealTimeClockDate">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AH=ReadRealTimeClockDate

				Output:
				CH=Century
				CL=Year
				DH=Month
				DL=Day
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetRealTimeClockDate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetRealTimeClockAlarm">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetRealTimeClockAlarm">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>