OZone/Platforms/Ibm/Pc/Bios/DiskExtensions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Bios/DiskExtensions" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GetVersion">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;41&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadSectorsFromDrive">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;42&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteSectorsToDrive">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;43&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="VerifySectorsOnDrive">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;44&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LockUnlockDrive">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;45&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EjectMedia">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;46&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Seek">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;47&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetDriveParameters">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;48&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MediaChange">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;49&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetHardwareConfiguration">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>