OZone/Platforms/Ibm/Pc/Bios/Disk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://metalx.org/Pc/Bios/Disk"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ResetDiskDrives">
		<xsd:annotation>
			<xsd:documentation>
				Resets a floppy or hard drive controller.
				
				Input:
				AH=ResetDiskDrives
				DL=Drive
				
				Output:
				AH=Status
				CF=Error
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CheckDriveStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadSectorsFromDrive">
		<xsd:annotation>
			<xsd:documentation>
				Reads one or more sectors into memory.
				
				Input:
				AH=ReadSectorsFromDrive
				AL=Count
				CH=Track
				CL=Sector
				DH=Head
				DL=Drive
				ES=MemoryPage
				BX=PageOffset
				
				Output:
				CF=Error
				AH=Status
				AL=Count
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteSectorsToDrive">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="VerifySectorsOnDrive">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FormatTrackOnDrive">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetDriveParameters">
		<xsd:annotation>
			<xsd:documentation>
				Gets parameter information for the specified drive.

				Input:
				AH=GetDriveParameters
				DL=Drive

				Output:
				CF=Error
				AH=Status
				BL=Type
				CH=Cylinders
				CL=Sectors
				DH=Heads
				DL=Drives
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InitializeFixedDriveParameters">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SeekToSpecifiedTrack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetFixedDiskController">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetDriveType">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetFloppyDriveMediaChangeStatus">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>