OZone/Platforms/Ibm/Pc/Bios/Events.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Bios/Events" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DivideByZero">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Trace">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareFailure">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WatchdogTimer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Debug">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Overflow">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PrintScreen">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="InvalidInstruction">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MathCoprocessorUnavailable">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Timer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest0">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Keyboard">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest1">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest2">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SerialPort2or4">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest3">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SerialPort1or3">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest4">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardDrive">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest5">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="FloppyDrive">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest6">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Lpt1Printer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest7">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ControlBreak">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest9">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest10">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest11">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Mouse">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest12">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MathCoprocessors">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest13">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest14">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HardwareInterruptRequest15">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>