OZone/Platforms/Ibm/Pc/Bios/Functions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Bios/Functions" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="VideoFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetEquipment">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetMemorySize">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DiskFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SerialPortFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SystemFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyboardFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PrintFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExecuteBasic">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LoadOperatingSystem">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClockFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PciFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PnpFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="UserTimer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VideoParameters">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DisketteParameters">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CharacterData">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Harddrive1Parameters">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Harddrive2Parameters">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Alarm">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClockFunctionsExtended">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IdePrimaryControllerFunctions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IdeSecondaryControllerFunctions">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>