OZone/Platforms/Ibm/Pc/Bios/Keyboard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://metalx.org/Pc/Bios/Keyboard"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ReadCharacter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadInputStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadKeyboardShiftStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadCharacterExtended">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadInputStatusExtended">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadKeyboardShiftStatusExtended">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>