OZone/Platforms/Ibm/Pc/Bios/PointerDevice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Bios/PointerDevice" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Enable">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AX=Enable
				BH=IsEnabled
				
				Output:
				AH=Status
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Reset">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AX=Reset

				Output:
				AH=Status
				BH=DeviceID
				BL=ReturnValue
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetSampleRate">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AX=SetSampleRate
				BH=SampleRate

				Output:
				AH=Status
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetResolution">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AX=Enable
				BH=IsEnabled

				Output:
				AH=Status
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetType">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AX=Enable
				BH=IsEnabled

				Output:
				AH=Status
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Initialize">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AX=Enable
				BH=IsEnabled

				Output:
				AH=Status
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExtendedFunctions">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AX=Enable
				BH=IsEnabled

				Output:
				AH=Status
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetDeviceHandlerAddress">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AX=Enable
				BH=IsEnabled

				Output:
				AH=Status
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteByte">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadByte">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AX=Enable
				BH=IsEnabled

				Output:
				AH=Status
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>