OZone/Platforms/Ibm/Pc/Bios/Printer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://tempuri.org/Namespace" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PrintCharacterToPrinter">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="InitializePrinter">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CheckPrinterStatus">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>