OZone/Platforms/Ibm/Pc/Bios/SerialPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://tempuri.org/Namespace" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SerialPortInitialization">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TransmitCharacter">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReceiveCharacter">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Status">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>