OZone/Platforms/Ibm/Pc/Bios/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Bios/System" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="KeyboardIntercept">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EventWait">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadJoystick">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SysReqKeyCallout">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Wait">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MoveBlock">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetExtendedMemorySize">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetSystemParameters">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetExtendedBiosDataAreaSegment">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PointingDeviceFunctions">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetExtendedMemorySizeEx">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DisableA20Gate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EnableA20Gate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetA20GateStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="QueryA20GateSupport">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetMemoryMap">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>