OZone/Platforms/Ibm/Pc/Bios/Video.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://metalx.org/Pc/Bios/Video"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SetVideoMode">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AH=SetVideoMode
				AL=Mode
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetCursorShape">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetCursorPosition">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetCursorPosition">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadLightPenPosition">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetActiveDisplayPage">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ScrollUpWindow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ScrollDownWindow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadFormattedCharacterAtCursorPosition">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteFormattedCharacterAtCursorPosition">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteCharacterAtCursorPosition">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetColor">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WritePixel">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AH=WritePixel
				AL=Color
				BH=Page
				CX=Column
				DX=Row
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReadPixel">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AH=WritePixel
				BH=Page
				CX=Column
				DX=Row

				Output:
				AL=Color
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TeletypeOutput">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AH=TeletypeOutput
				AL=Character
				BH=Page
				BL=Color
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetVideoMode">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WriteString">
		<xsd:annotation>
			<xsd:documentation>
				Input:
				AH=WriteString
				AL=Flags (1=UpdateCursor, 2=IncludesAttributes)
				BH=Page
				BL=Attribute
				CX=Length
				DH=Row
				DL=Column
				ES:BP=String
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>