OZone/Platforms/Intel/8086/Functions/Arithmetic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/8086/Arithmetic" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TestWithBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXSIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXDIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPSIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPDIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByImmediate16AddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXSIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXDIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPSIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPDIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByImmediate16AddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXSIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXDIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPSIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPDIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXSIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXDIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPSIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPDIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXSIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXDIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPSIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPDIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXSIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXDIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPSIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPDIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressPlusImmediate16WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByALRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySPRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByALRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySPRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>