OZone/Platforms/Intel/8086/Functions/Increment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/8086/Increment" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="IncrementBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDIRegister">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>