OZone/Platforms/Intel/8086/Functions/Shift.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/8086/Shift" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RotateLeftBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXSIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXDIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPSIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPDIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftImmediate16AddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXSIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXDIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPSIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPDIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightImmediate16AddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXSIAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXDIAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPSIAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPDIAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightImmediate16AddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftImmediate16AddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightImmediate16AddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXSIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXDIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPSIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPDIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftImmediate16AddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXSIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXDIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPSIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPDIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightImmediate16AddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftImmediate16AddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightImmediate16AddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXSIAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXDIAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPSIAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPDIAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightImmediate16AddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftImmediate16AddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightImmediate16AddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXSIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXDIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPSIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPDIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftImmediate16AddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXSIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXDIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPSIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPDIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightImmediate16AddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressPlusImmediate16WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftImmediate16AddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightImmediate16AddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXSIAddressPlusImmediate16Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXDIAddressPlusImmediate16Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPSIAddressPlusImmediate16Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPDIAddressPlusImmediate16Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressPlusImmediate16Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressPlusImmediate16Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightImmediate16AddressPlusImmediate16Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressPlusImmediate16Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollALRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSPRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBPRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSIRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDIRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollALRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSPRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBPRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSIRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDIRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollALRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCLRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDLRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBLRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAHRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCHRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDHRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBHRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAXRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCXRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDXRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBXRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSPRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBPRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSIRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDIRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollALRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCLRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDLRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBLRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAHRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCHRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDHRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBHRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAXRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCXRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDXRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBXRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSPRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBPRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSIRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDIRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftALRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSPRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBPRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSIRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDIRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftALRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSPRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBPRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSIRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDIRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftALRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCLRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDLRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBLRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAHRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCHRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDHRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBHRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAXRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCXRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDXRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBXRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSPRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBPRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSIRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDIRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>