OZone/Platforms/Intel/80286/Control.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://metalx.org/Intel/80286/Control"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AX-ControlRegister0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AX-ControlRegister2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AX-ControlRegister3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AX-ControlRegister4">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>