OZone/Platforms/Intel/80286/Segments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80286/Segments" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ES-BXPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;05&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;06&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;07&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;08&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;09&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;10&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;11&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;12&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;13&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;14&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;15&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;16&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;17&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;18&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;19&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;20&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;21&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;22&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;23&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;24&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;25&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;26&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;27&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;28&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;29&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPPlusSIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPPlusDIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;40&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;41&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;42&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;43&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;44&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;45&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;46&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;47&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;48&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;49&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;50&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;51&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;52&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;53&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;54&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;55&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;56&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;57&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;58&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;59&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;60&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;61&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;62&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;63&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;64&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;65&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;66&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;67&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;68&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;69&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPPlusSIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPPlusDIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;80&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;81&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;82&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;83&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;84&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;85&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;86&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;87&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;88&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;89&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;90&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;91&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;92&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;93&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;94&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;95&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;96&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;97&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;98&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;99&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPPlusSIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPPlusDIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DIAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXAddressPlusImmediate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;ED&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>