OZone/Platforms/Mos/6502/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://metalx.org/Mos/6502/Operators" elementFormDefault="qualified">
	<xsd:element name="Break">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NoOperation">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToZeroPageMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToZeroPageXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToAbsoluteYIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToIndirectXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareAccumulatorToIndirectYIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareXIndexToImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareXIndexToZeroPageMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareXIndexToAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareYIndexToImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareYIndexToZeroPageMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareYIndexToAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementZeroPageMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementZeroPageXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementAbsoluteXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementZeroPageMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementZeroPageXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementAbsoluteXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DecrementYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrImmediateWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrZeroPageMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrZeroPageXIndexMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAbsoluteMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAbsoluteMemoryXIndexWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrAbsoluteMemoryYIndexWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrIndirectXIndexWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrIndirectYIndexWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrImmediateWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrZeroPageMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrZeroPageXIndexMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAbsoluteMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAbsoluteMemoryXIndexWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrAbsoluteMemoryYIndexWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrIndirectXIndexWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrIndirectYIndexWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftAccumulatorLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftZeroPageMemoryLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftZeroPageXIndexMemoryLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftAbsoluteMemoryLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftAbsoluteXIndexMemoryLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullProcessorStatusFromStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullAccumulatorFromStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushProcessorStatusToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushAccumulatorToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearCarryFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearDecimalFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetInterruptDisableFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearInterruptDisableFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ClearOverflowFlag">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfPositive">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfNegative">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfNotCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfEqual">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfNotEqual">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfNotZero">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfNotOverflow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeMemoryIfOverflow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToIndirectMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallProcedureAtAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestZeroPageMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestAbsoluteMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddImmediateToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddZeroPageMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddZeroPageXIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAbsoluteMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAbsoluteXIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddAbsoluteYIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddIndirectXIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddIndirectYIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractImmediateFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractZeroPageMemoryFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractZeroPageXIndexMemoryFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAbsoluteMemoryFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAbsoluteXIndexMemoryFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractAbsoluteYIndexMemoryFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractIndirectXIndexMemoryFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractIndirectYIndexMemoryFromAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndImmediateWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndZeroPageMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndZeroPageXIndexMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAbsoluteMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAbsoluteXIndexMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndAbsoluteYIndexMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndIndirectXIndexMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndIndirectYIndexMemoryWithAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyZeroPageMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyZeroPageXIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteXIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteYIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyIndirectXIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyIndirectYIndexMemoryToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyZeroPageMemoryToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyZeroPageYIndexMemoryToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteMemoryToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteYIndexMemoryToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyZeroPageMemoryToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyZeroPageXIndexMemoryToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteMemoryToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAbsoluteXIndexMemoryToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToZeroPageMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToZeroPageXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToAbsoluteXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToAbsoluteYIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToIndirectXIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToIndirectYIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToZeroPageMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToZeroPageYIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyYIndexToZeroPageMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyYIndexToZeroPageYIndexMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyYIndexToAbsoluteMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAccumulatorToYIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyStackPointerToXIndex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyXIndexToStackPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyYIndexToAccumulator">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>