OZone/Structures/i286/Table.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
    targetNamespace="http://metalx.org/i286/Structures/Table"
    elementFormDefault="qualified"
    xmlns="http://metalx.org/i286/Structures/Table"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="table">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="row">
					<xsd:complexType>
						<xsd:attribute name="key" type="xsd:string"/>
						<xsd:attribute name="value" type="xsd:hexBinary"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
