OZone/Functions/6502/MemoryManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/6502/Functions/MemoryManager" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CheckOut">
		<xsd:complexType>
			<xsd:attribute name="length" type="xsd:byte" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Reset">
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>
