OZone/Platforms/Intel/80286/Functions/Immediate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80286/Immediate" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CopyImmediateToBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBPAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToAL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToCL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToAH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToCH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToCX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToSP">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBP">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToSI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDI">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>