OZone/Platforms/Intel/80286/Functions/Logic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80286/Logic" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CallBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushImmediate16Address">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallImmediate16AddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtImmediate16AddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToImmediate16AddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtImmediate16AddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushImmediate16AddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallImmediate16AddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtImmediate16AddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToImmediate16AddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtImmediate16AddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDIAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushImmediate16AddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXAddressPlusImmediate16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDIRegister">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>