OZone/Platforms/Intel/80286/Functions/Math.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://metalx.org/Intel/80286/Math"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AddToBXSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToImmediate16Address">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithImmediate16Address">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXSIAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXDIAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPSIAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPDIAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToImmediate16AddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXSIAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXDIAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPSIAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPDIAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromImmediate16AddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithImmediate16Address">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromImmediate16Address">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithImmediate16Address">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithImmediate16Address">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToImmediate16AddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithImmediate16AddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXSIAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXDIAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPSIAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPDIAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToImmediate16AddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXSIAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXDIAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPSIAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPDIAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromImmediate16AddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithImmediate16AddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromImmediate16AddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithImmediate16AddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithImmediate16AddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToImmediate16AddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithImmediate16AddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXSIAddressPlusImmediate16WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXDIAddressPlusImmediate16WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPSIAddressPlusImmediate16WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPDIAddressPlusImmediate16WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressPlusImmediate16WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressPlusImmediate16WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToImmediate16AddressPlusImmediate16WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressPlusImmediate16WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXSIAddressPlusImmediate16WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXDIAddressPlusImmediate16WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPSIAddressPlusImmediate16WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPDIAddressPlusImmediate16WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressPlusImmediate16WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressPlusImmediate16WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromImmediate16AddressPlusImmediate16WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressPlusImmediate16WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithImmediate16AddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromImmediate16AddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithImmediate16AddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDIAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithImmediate16AddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXAddressPlusImmediate16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToALRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCLRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDLRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBLRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAHRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCHRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDHRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBHRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAXRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSPRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromALRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCLRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDLRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBLRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAHRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCHRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDHRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBHRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSPRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDIRegister">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>