OZone/Platforms/Intel/80286/Functions/Stack.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80286/Stack" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PullBXSIAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXDIAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPSIAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPDIAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSIAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDIAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullImmediate16AddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXSIAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXDIAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPSIAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPDIAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSIAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDIAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXSIAddressPlusImmediate16FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXDIAddressPlusImmediate16FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPSIAddressPlusImmediate16FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPDIAddressPlusImmediate16FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSIAddressPlusImmediate16FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDIAddressPlusImmediate16FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPAddressPlusImmediate16FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXAddressPlusImmediate16FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullALRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCLRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDLRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBLRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAHRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCHRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDHRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBHRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAXRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCXRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDXRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSPRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSIRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDIRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>