OZone/Platforms/Novell/Ne2000/Registers/Page0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Novell/Ne2000/Registers/Page0" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Command">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetLocalDmaAddress0">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetLocalDmaAddress1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetRingBufferBoundary">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetTransmitStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetCollisionCounter">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;05&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetFifo">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;06&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetInterruptStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;07&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetRemoteDmaAddress0">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;08&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetRemoteDmaAddress1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;09&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetReceiveStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetPageStart">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetPageStop">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetTransmitPageStartAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetTransmitByteCountLow">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;05&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetTransmitByteCountHigh">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;06&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetRemoteStartAddressLow">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;08&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetRemoteStartAddressHigh">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;09&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetRemoteByteCountLow">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetRemoteByteCountHigh">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetReceiveConfiguration">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetTransmitConfiguration">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetDataConfiguration">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetInterruptMask">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0f&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>