OZone/Platforms/Amd/Amd64/Functions/Arithmetic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Amd/Amd64/Arithmetic" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TestWithAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByIndexAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByImmediateAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByIndexAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByImmediateAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByIndexAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByIndexAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressPlusImmediate8WithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByIndexAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByIndexAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIAddressPlusImmediateWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestWithDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NotWithDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateWithDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByALRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByAXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByCXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySPRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByBPRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyBySIRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MultiplyByDIRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByALRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBLRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBHRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByAXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByCXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBXRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySPRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByBPRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideBySIRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DivideByDIRegisterWithSign">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>