OZone/Platforms/Amd/Amd64/Functions/Immediate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Amd/Amd64/Immediate" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CopyImmediateToAXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToCXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToIndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToAXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToCXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToIndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToImmediateAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToAXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToCXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToBXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToIndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToImmediateAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToSIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToAL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToCL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToBL">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToAH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToCH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToBH">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToAX">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToCX">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDX">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToBX">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToSP">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToBP">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToSI">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyImmediateToDI">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>