OZone/Platforms/Amd/Amd64/Functions/Logic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Amd/Amd64/Logic" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CallAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallPointerAtDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToPointerAtDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDIRegister">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>