OZone/Platforms/Amd/Amd64/Functions/Math.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://metalx.org/Amd/Amd64/Math"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AddToAXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToIndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithAXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithCXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithIndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAXAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToIndexAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToImmediateAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromIndexAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromImmediateAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithAXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithCXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithIndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromIndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithAXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithCXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithIndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithAXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithCXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithIndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToIndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithAXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithCXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithIndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAXAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToIndexAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressPlusImmediate8WithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromIndexAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressPlusImmediate8WithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithAXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithCXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithIndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromIndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithAXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithCXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithIndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithAXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithCXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithIndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToIndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithAXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithCXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithIndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAXAddressPlusImmediateWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXAddressPlusImmediateWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXAddressPlusImmediateWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXAddressPlusImmediateWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToIndexAddressPlusImmediateWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPAddressPlusImmediateWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIAddressPlusImmediateWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIAddressPlusImmediateWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXAddressPlusImmediateWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXAddressPlusImmediateWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXAddressPlusImmediateWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressPlusImmediateWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromIndexAddressPlusImmediateWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPAddressPlusImmediateWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressPlusImmediateWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressPlusImmediateWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithAXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithCXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithIndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromIndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithAXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithCXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithIndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithAXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithCXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithIndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrWithDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToALRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCLRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDLRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBLRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAHRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCHRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDHRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBHRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToAXRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToCXRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDXRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBXRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSPRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToBPRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToSIRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddToDIRegisterWithCarry">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromALRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCLRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDLRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBLRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAHRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCHRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDHRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBHRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSPRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIRegisterWithBorrow">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndWithDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFromDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrWithDIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithALRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithCLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBLRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithAHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithCHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBHRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithAXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithCXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithBPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithSIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareWithDIRegister">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>