x16Console/Functions/System.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema
    targetNamespace="http://metalx.org/x16Console/Functions/System"
    elementFormDefault="qualified"
    xmlns="http://metalx.org/C64Console/Functions/System"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="MemoryManager">
		<xsd:complexType/>
	</xsd:element>

	<xsd:element name="CheckOut">
		<xsd:complexType>
			<xsd:attribute name="length" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
