OZone/Platforms/Intel/8086/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/8086/Operators" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AddRegisterToOperand8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddRegisterToOperand16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddOperandToRegister8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddOperandToRegister16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddImmediateToAL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddImmediateToAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushESToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullESFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrOperandWithRegister8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrOperandWithRegister16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrRegisterWithOperand8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrRegisterWithOperand16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrALWithImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrAXWithImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushCSToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExtendOperand">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddRegisterToOperandWithCarry8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddRegisterToOperandWithCarry16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddOperandToRegisterWithCarry8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddOperandToRegisterWithCarry16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddImmediateToALWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddImmediateToAXWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSSToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSSFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractRegisterFromOperandWithBorrow8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractRegisterFromOperandWithBorrow16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractOperandFromRegisterWithBorrow8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractOperandFromRegisterWithBorrow16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractImmediateFromALWithBorrow">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractImmediateFromAXWithBorrow">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDSToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDSFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndOperandWithRegister8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndOperandWithRegister16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndRegisterWithOperand8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndRegisterWithOperand16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndALWithImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndAXWithImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractRegisterFromOperand8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractRegisterFromOperand16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractOperandFromRegister8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractOperandFromRegister16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractImmediateFromAL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractImmediateFromAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrOperandWithRegister8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrOperandWithRegister16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrRegisterWithOperand8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrRegisterWithOperand16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrALWithImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrAXWithImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareOperandToRegister8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareOperandToRegister16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareRegisterToOperand8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareRegisterToOperand16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareALToImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareAXToImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSP">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBP">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSP">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBP">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushAXToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushCXToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDXToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBXToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSPToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushBPToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushSIToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushDIToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAXFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCXFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDXFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSPFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSIFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDIFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushAllRegistersToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAllRegistersFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CheckBoundaries">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AdjustPrivilegeLevel">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushImmediateToStack16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetRegisterToOperandMultipliedByImmediateSigned16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushImmediateToStack8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetRegisterToOperandMultipliedByImmediateSigned8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReadFromDXPortToDIAddressAndIncrementDI8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReadFromDXPortToDIAddressAndIncrementDI16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WriteSIAddressToDXPortAndIncrementSI8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WriteSIAddressToDXPortAndIncrementSI16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfOverflow8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotOverflow8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfBelow8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotAboveOrEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfCarry8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfAboveOrEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotBelow8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotCarry8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfZero8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotZero8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfBelowOrEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotAbove8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfAbove8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotBelowOrEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfPositive8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNegative8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfEven8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfOdd8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfLess8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotGreaterOrEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotLess8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfGreaterOrEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfLessOrEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotGreater8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfNotLessOrEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfGreater8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestOperandWithRegister8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestOperandWithRegister16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExchangeOperandWithRegister8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExchangeOperandWithRegister16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyRegisterToOperand8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyRegisterToOperand16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyOperandToRegister8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyOperandToRegister16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopySegmentRegisterToOperand16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetRegisterToEffectiveAddress16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SegmentRegisterFunction">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NoOperation">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExchangeCXWithAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExchangeDXWithAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExchangeBXWithAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExchangeSPWithAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExchangeBPWithAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExchangeSIWithAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExchangeDIWithAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExpandALToAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExpandAXToDXAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallImmediatePointer16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HandleFloatingPointExceptions">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushFlagsToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullFlagsFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAHToFlags">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyFlagsToAH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAbsoluteMemoryToAL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAbsoluteMemoryToAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyALToAbsoluteMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAXToAbsoluteMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopySIAddressToDIAddressAndIncrementSIAndDI8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopySIAddressToDIAddressAndIncrementSIAndDI16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareSIAddressToDIAddressAndIncrementSIAndDI8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareSIAddressToDIAddressAndIncrementSIAndDI16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestALWithImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestAXWithImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyALToDIAddressAndIncrementDI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAXToDIAddressAndIncrementDI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopySIAddressToALAndIncrementSI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopySIAddressToAXAndIncrementSI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareALToDIAddressAndIncrementDI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareAXToDIAddressAndIncrementDI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToAL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToCL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToAH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToCH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToCX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToSP">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToBP">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToSI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToDI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReturnToNearCallerAndPullImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReturnToNearCaller">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetESAndRegisterToFarPointer16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetDSAndRegisterToFarPointer16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="EnterStackFrame">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LeaveStackFrame">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReturnToFarCallerAndPullImmediateFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReturnToFarCaller">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallDebuggerInterrupt">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallImmediate8Interrupt">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallInterruptIfOverflow">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReturnFromInterrupt">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AdjustAXAfterMultiplyToBaseImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AdjustAXBeforeDivideToBaseImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyBXAddressPlusALToAL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LoopToRelativeWhileNotEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LoopToRelativeWhileNotZero8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LoopToRelativeWhileEqual8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LoopToRelativeWhileZero8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LoopToRelative8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchToRelativeIfCXIsZero">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReadFromImmediate8PortToAL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReadFromImmediate8PortToAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WriteALToImmediate8Port">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WriteAXToImmediate8Port">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallRelative16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToRelative16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToImmediatePointer16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToRelative8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReadFromDXPortToAL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReadFromDXPortToAX">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WriteALToDXPort">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WriteAXToDXPort">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WaitForInterrupt">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ComplementCarryFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClearCarryFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetCarryFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClearInterruptFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetInterruptFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClearDirectionFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetDirectionFlag">
    <xsd:complexType />
  </xsd:element>
	<xsd:element name="SegmentES">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SegmentSS">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SegmentCS">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SegmentDS">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Operand32">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Address32">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveLock">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RepeatWhileNotEqual">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Repeat">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RepeatWhileEqual">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MathImmediateToOperandFunction8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MathImmediateToOperandFunction16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MathImmediate8ToOperand16Function">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ArithmeticAXOperandFunction">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ArithmeticDXAXOperandFunction">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRegisterByImmediateFunction8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRegister16ByImmediate8Function">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRegisterByOneFunction8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRegisterByOneFunction16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRegisterByCLFunction8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRegisterByCLFunction16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToOperandFunction8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediateToOperandFunction16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullOperandFromStackFunction">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementFunction8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementFunction16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LogicFunction">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>