OZone/Platforms/Motorola/6800/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Motorola/6800" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="NoOperation">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAccumulatorAToFlags">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyFlagsToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClearOverflowFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetOverflowFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClearCarryFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetCarryFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClearInterruptFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetInterruptFlag">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractAccumulatorBFromAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareAccumulatorBToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAccumulatorAToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAccumulatorBToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecimalAdjustAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddAccumulatorBToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToRelative">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfLessThanOrEqual">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfNotCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfNotEqual">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfEqual">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfNotOverflow">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfOverflow">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfPositive">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfNegative">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfGreaterThanOrEqualToZero">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfLessThanZero">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfGreaterThanZero">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BranchIfLessThanOrEqualToZero">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyStackPointerToIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementStackPointer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAccumulatorAFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAccumulatorBFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementStackPointer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyIndexToStackPointer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushAccumulatorAToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PushAccumulatorBToStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReturnFromSubroutine">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReturnFromInterrupt">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WaitForInterrupt">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SoftwareInterrupt">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ComplementAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAccumulatorARight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateAccumulatorARight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HalfAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DoubleAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateAccumulatorALeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClearAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ComplementAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAccumulatorBRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateAccumulatorBRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HalfAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DoubleAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateAccumulatorBLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClearAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ComplementIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftIndexMemoryRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateIndexMemoryRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HalfIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DoubleIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateIndexMemoryLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ClearIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NegateExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ComplementExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftExtendedMemoryRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyStackPointerToZeroPageMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractIndexMemoryFromAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareIndexMemoryToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractIndexMemoryFromAccumulatorAWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndAccumulatorAWithIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestAccumulatorAWithIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyIndexMemoryToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAccumulatorAToIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrAccumulatorAWithIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddIndexMemoryToAccumulatorAWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrAccumulatorAWithIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddIndexMemoryToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareIndexRegisterWithIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="JumpToSubroutineAtIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyIndexMemoryToStackPointer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyStackPointerToIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractExtendedMemoryFromAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareExtendedMemoryToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractExtendedMemoryFromAccumulatorAWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndAccumulatorAWithExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestAccumulatorAWithExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyExtendedMemoryToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAccumulatorAToExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrAccumulatorAWithExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddExtendedMemoryToAccumulatorAWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrAccumulatorAWithExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddExtendedMemoryToAccumulatorA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareExtendedMemoryToIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CallRoutineAtExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyExtendedMemoryToStackPointer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyStackPointerToExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractImmediate8FromAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareImmedate8ToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractImmediate8FromAccumulatorBWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndAccumulatorBWithImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestAccumulatorBWithImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediate8ToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrAccumulatorBWithImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddImmediate8ToAccumulatorBWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrAccumulatorBWithImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddImmediate8ToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyImmediate8ToIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractZeroPageMemoryFromAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareZeroPageMemoryToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractZeroPageMemroyFromAccumulatorBWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndAccumulatorBWithZeroPageMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestAccumulatorBWithZeroPageMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyZeroPageMemoryToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAccumulatorBToZeroPageMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrAccumulatorBWithZeroPageMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddZeroPageMemoryToAccumulatorBWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrAccumulatorBWithZeroPageMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddZeroPageMemoryToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyZeroPageMemoryToIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyIndexToZeroPageMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractIndexMemoryFromAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareIndexMemoryToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractIndexMemoryFromAccumulatorBWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndAccumulatorBWithIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestAccumulatorBWithIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyIndexMemoryToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAccumulatorBToIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrAccumulatorBWithIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddIndexMemoryToAccumulatorBWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrAccumulatorBWithIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddIndexMemoryToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyIndexMemoryToIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyIndexToIndexMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractExtendedMemoryFromAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CompareExtendedMemoryToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SubtractExtendedMemoryFromAccumulatorBWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AndAccumulatorBWithExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TestAccumulatorBWithExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyExtendedMemoryToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAccumulatorBToExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExclusiveOrAccumulatorBWithExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddExtendedMemoryToAccumulatorBWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OrAccumulatorBWithExtendedMemory">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddExtendedMemoryToAccumulatorB">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyExtendedMemoryToIndex">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyIndexToExtendedMemory">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>