OZone/Platforms/Intel/Ahci/Ports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/Ahci/Ports" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CommandListAddressLow">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;00&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CommandListAddressHigh">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;04&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="FrameAddressLow">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;08&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="FrameAddressHight">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;0c&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="InterruptStatus">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;10&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="InterruptEnable">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;14&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CommandAndStatus">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;18&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TaskFileData">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;20&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Signature">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;24&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SerialAtaStatus">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;28&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SerialAtaControl">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;2c&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SerialAtaError">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;30&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SerialAtaActive">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;34&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CommandIssue">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;38&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SerialAtaNotification">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;3c&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="FrameBasedSwitchingControl">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;40&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VendorSpecific">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;70&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
</xsd:schema>