OZone/Platforms/Intel/Ahci/Registers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/Ahci/Registers" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Capabilities">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;00&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Control">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;04&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="InterruptStatus">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;08&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PortsImplemented">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;0c&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Version">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;10&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CommandCompleteControl">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;14&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CommandCompletePorts">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;18&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="EnclosureManagementLocation">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;1c&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="EnclosureManagementControl">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;20&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExtendedCapabilities">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;24&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BiosControlAndStatus">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;28&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VendorSpecific">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;a0&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PortControlRegisters">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;0100&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
</xsd:schema>