OZone/Platforms/Intel/Ahci/Signatures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/Ahci/Signatures" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Sata">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;00000101&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SataPacket">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;EB140101&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="EnclosureManagementBridge">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;C33C0101&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PortMultiplier">
    <xsd:annotation>
      <xsd:documentation>
        &lt;hex&gt;96690101&lt;/hex&gt;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
</xsd:schema>