OZone/Platforms/Ibm/Pc/Keys.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://metalx.org/Pc/Keys"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="KeyEscape">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key1">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key2">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key3">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key4">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key5">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key6">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key7">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key9">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Key0">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyMinus">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyUnderscore">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyEquals">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyPlus">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyBackspace">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyTab">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyQ">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyW">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyE">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyR">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyT">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyY">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyU">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyI">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyO">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyP">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyLeftBracket">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyLeftCurlyBrace">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyRightBracket">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyRightCurlyBrace">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyEnter">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyLeftControl">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyA">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyS">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyD">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyF">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyG">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyH">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyJ">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyK">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyL">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeySemicolon">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyColon">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeySingleQuote">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="KeyDoubleQuote">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>