OZone/Platforms/Ibm/Pc/Memory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Memory" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="InterruptVectorTable">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BiosData">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LowMemory">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExtendedBiosData">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VideoRam">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VideoBios">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="HighMemory">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SystemBios">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>