OZone/Platforms/Ibm/Pc/Ports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Ports" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="A20GateControl">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01F8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BusMousePort1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;023C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BusMousePort2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0238&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CgaRegisters">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03D0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ChipsetRegisters">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0022&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Cmos">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0070&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Diagnostics">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0080&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DirectMemoryAccessController1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0000&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DirectMemoryAccessController2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00C0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DirectMemoryAccessRegisters">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0080&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GraphicsAdapterRegisters">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03C0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EideController1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01E8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EideController2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0168&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EisaBusMaster">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0464&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EisaDmaControl">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04D4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EisaDmaController">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0401&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EisaDmaCounters">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04C6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EisaDmaPages">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0481&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EisaDmaStop">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04E0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EisaInterrupts">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04D0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EisaNonmaskableInterrupts">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0461&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EisaSystemBoardID">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0C80&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EnhanceGraphicsAdapter">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02C0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EthernetAdapter">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0300&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FixedDiskController1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01F0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FixedDiskController1Control">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03F4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FixedDiskController2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0170&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FixedDiskController2Control">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0374&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FloppyDiskController1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03F0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FloppyDiskController2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0370&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GamePort">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0200&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SoundCard1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0220&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SoundCard2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0240&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SoundCard3">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0260&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SoundCard4">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0280&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Midi">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0330&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Synthesizer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0388&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="KeyboardController">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0060&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MathCoprocessor">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00F0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MonochromeDisplayAdapter">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03B0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ParallelPrinterPort1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0278&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ParallelPrinterPort2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0378&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ParallelPrinterPort3">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03BC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciConfiguration1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0CF8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciConfiguration2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C000&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcNetworkAdapter1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0620&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PcNetworkAdapter2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0628&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlugAndPlayConfiguration">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0279&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PlugAndPlayWriteData">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0A79&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PowerManagement">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0178&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InterruptController1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0020&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InterruptController2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00A0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ProgrammableIntervalTimer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0040&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SerialPort1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03F8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SerialPort2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02F8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SerialPort3">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03E8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SerialPort4">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02E8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ScsiController">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0340&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ScsiController2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0140&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Timer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0078&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="VideoGraphicsAdapter1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03C6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="VideoGraphicsAdapter2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02C6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WatchdogTimer">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0352&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NetworkAdapter1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0240&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NetworkAdapter2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0260&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NetworkAdapter3">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0280&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NetworkAdapter4">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02A0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NetworkAdapter5">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0300&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NetworkAdapter6">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0320&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NetworkAdapter7">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0340&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NetworkAdapter8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0360&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>