OZone/Platforms/Ibm/Pc/Video/Registers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Video/Registers" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="HorizontalTotal">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HorizontalDisplay">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HorizontalSyncPosition">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SyncPulseWidth">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VerticalTotal">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VerticalTotalAdjust">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VerticalDisplay">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VerticalSyncPulseWidth">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="InterlaceMode">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MaximumScanLines">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CursorStart">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CursorEnd">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddressHigh">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AddressLow">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CursorPositionHigh">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CursorPositionLow">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VerticalRetraceStart">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VerticalRetraceEnd">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VerticalDisplayEnd">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RowOffset">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="UnderlineLocation">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VerticalBlankStart">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VerticalBlankEnd">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ModeControl">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LineCompare">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CpuLatchData">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AttributeToggle">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>