OZone/Platforms/Berkeley/RiscV/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema id="Operators"
    targetNamespace="http://metalx.org/Berkeley/RiscV/Operators"
    elementFormDefault="qualified"
    xmlns="http://metalx.org/Berkeley/RiscV/Operators"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="JumpToAddress">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF" use="required"/>
			<xsd:attribute name="returnAddressRegister" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JumpToRegister">
		<xsd:complexType>
			<xsd:attribute name="addressRegister" type="uint5" use="required"/>
			<xsd:attribute name="returnAddressRegister" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfEqual">
		<xsd:complexType>
			<xsd:attribute name="register" type="uint5" use="required"/>
			<xsd:attribute name="register2" type="uint5" use="required"/>
			<xsd:attribute name="ref" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfNotEqual">
		<xsd:complexType>
			<xsd:attribute name="register" type="uint5" use="required"/>
			<xsd:attribute name="register2" type="uint5" use="required"/>
			<xsd:attribute name="ref" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfLess">
		<xsd:complexType>
			<xsd:attribute name="register" type="uint5" use="required"/>
			<xsd:attribute name="register2" type="uint5" use="required"/>
			<xsd:attribute name="ref" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfGreaterOrEqual">
		<xsd:complexType>
			<xsd:attribute name="register" type="uint5" use="required"/>
			<xsd:attribute name="register2" type="uint5" use="required"/>
			<xsd:attribute name="ref" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfLessUnsigned">
		<xsd:complexType>
			<xsd:attribute name="register" type="uint5" use="required"/>
			<xsd:attribute name="register2" type="uint5" use="required"/>
			<xsd:attribute name="ref" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfGreaterOrEqualUnsigned">
		<xsd:complexType>
			<xsd:attribute name="register" type="uint5" use="required"/>
			<xsd:attribute name="register2" type="uint5" use="required"/>
			<xsd:attribute name="ref" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SetRegisterToAddressOf">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="register" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AddValueToRegister">
		<xsd:complexType>
			<xsd:attribute name="value" type="int12"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="destination" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AndRegisterWithValue">
		<xsd:complexType>
			<xsd:attribute name="value" type="int12"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="destination" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SetRegisterToValue">
		<xsd:complexType>
			<xsd:attribute name="value" type="xsd:unsignedInt"/>
			<xsd:attribute name="register" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CopyRegisterToAddress8">
		<xsd:complexType>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="addressRegister" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CopyRegisterToAddress16">
		<xsd:complexType>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="addressRegister" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CopyRegisterToAddress32">
		<xsd:complexType>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="addressRegister" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CopyAddressToRegister8">
		<xsd:complexType>
			<xsd:attribute name="addressRegister" type="uint5"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CopyAddressToRegister16">
		<xsd:complexType>
			<xsd:attribute name="addressRegister" type="uint5"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CopyAddressToRegister32">
		<xsd:complexType>
			<xsd:attribute name="addressRegister" type="uint5"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="uint5">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="31"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="int12">
		<xsd:restriction base="xsd:short">
			<xsd:minInclusive value="-2048"/>
			<xsd:maxInclusive value="2047"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>