OZone/Platforms/Berkeley/RiscV/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema id="Operators"
    targetNamespace="http://metalx.org/Berkeley/RiscV/Operators"
    elementFormDefault="qualified"
    xmlns="http://metalx.org/Berkeley/RiscV/Operators"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="CallAddress">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="linkRegister" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CallRegisterAddress">
		<xsd:complexType>
			<xsd:attribute name="linkRegister" type="uint5"/>
			<xsd:attribute name="baseRegister" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CopyAddressToRegister">
		<xsd:complexType>
			<xsd:attribute name="destinationRegister" type="uint5"/>
			<xsd:attribute name="baseRegister" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
			<xsd:attribute name="type" type="CopyAddressToRegisterType"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="CopyAddressToRegisterType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Byte"/>
			<xsd:enumeration value="SignedByte"/>
			<xsd:enumeration value="Short"/>
			<xsd:enumeration value="UnsignedShort"/>
			<xsd:enumeration value="Integer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="CopyRegisterToAddress">
		<xsd:complexType>
			<xsd:attribute name="destinationRegister" type="uint5"/>
			<xsd:attribute name="baseRegister" type="uint5"/>
			<xsd:attribute name="offset" type="int12"/>
			<xsd:attribute name="type" type="CopyRegisterToAddressType"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="CopyRegisterToAddressType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Byte"/>
			<xsd:enumeration value="Short"/>
			<xsd:enumeration value="Integer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="RegisterHigh20Function">
		<xsd:complexType>
			<xsd:attribute name="operation" type="RegisterHigh20Operation"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="RegisterHigh20Operation">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SetRegister"/>
			<xsd:enumeration value="AddToProgram"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="uint5">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="31"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="int12">
		<xsd:restriction base="xsd:short">
			<xsd:minInclusive value="-2048"/>
			<xsd:maxInclusive value="2047"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>