OZone/Platforms/Berkeley/RiscV/ReferenceOperators.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema id="Operators"
    targetNamespace="http://metalx.org/Berkeley/RiscV/ReferenceOperators"
    elementFormDefault="qualified"
    xmlns="http://metalx.org/Berkeley/RiscV/ReferenceOperators"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="JumpToAddress">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="returnAddressRegister" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfEqual">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="register2" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfNotEqual">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="register2" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfLess">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="register2" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfGreaterOrEqual">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="register2" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfLessUnsigned">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="register2" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IfGreaterOrEqualUnsigned">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="register" type="uint5"/>
			<xsd:attribute name="register2" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SetRegisterToAddressOf">
		<xsd:complexType>
			<xsd:attribute name="ref" type="xsd:IDREF"/>
			<xsd:attribute name="register" type="uint5"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="uint5">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="31"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>