OZone/Platforms/Sun/Jvm/Operators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Sun/Jvm" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="NoOperation">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushNullToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerNegativeOneToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerZeroToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerOneToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerTwoToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerThreeToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFourToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFiveToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushLongFromVariable0ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushLongFromVariable1ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFloatZeroToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFloatOneToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFloatTwoToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDoubleZeroToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDoubleOneToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediate8ToStack16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushImmediate16ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushConstant16AtImmediate8IndexToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushConstantAtImmediateIndexToStack16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushConstant32AtImmediate16IndexToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromImmediate8VariableToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushLongFromImmediate8VariableToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFloatFromImmediate8VariableToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDoubleFromImmediate8VariableToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushObjectFromImmediate8VariableToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromVariable0ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromVariable1ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromVariable2ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromVariable3ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushLongFromVariable0ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushLongFromVariable1ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushLongFromVariable2ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushLongFromVariable3ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFloatFromVariable0ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFloatFromVariable1ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFloatFromVariable2ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushFloatFromVariable3ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDoubleFromVariable0ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDoubleFromVariable1ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDoubleFromVariable2ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushDoubleFromVariable3ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushObjectFromVariable0ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushObjectFromVariable1ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushObjectFromVariable2ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushObjectFromVariable3ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArrayInteger">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArrayLong">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArrayFloat">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArrayDouble">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArrayObject">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArrayByte">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArrayCharacter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArrayShort">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromImmediate8VariableToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullLongFromStackToImmediate8Variable">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullFloatFromStackToImmediate8Variable">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullDoubleFromStackToImmediate8Variable">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullObjectFromStackToImmediate8Variable">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromVariable0ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromVariable1ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromVariable2ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PushIntegerFromVariable3ToStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullLongFromStackToVariable0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullLongFromStackToVariable1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullLongFromStackToVariable2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullLongFromStackToVariable3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullFloatFromStackToVariable0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullFloatFromStackToVariable1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullFloatFromStackToVariable2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullFloatFromStackToVariable3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullDoubleFromStackToVariable0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullDoubleFromStackToVariable1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullDoubleFromStackToVariable2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullDoubleFromStackToVariable3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullObjectFromStackToVariable0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullObjectFromStackToVariable1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullObjectFromStackToVariable2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullObjectFromStackToVariable3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetArrayInteger">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetArrayLong">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetArrayFloat">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetArrayDouble">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetArrayObject">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetArrayByte">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetArrayCharacter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetArrayShort">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullValueFromStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PullTwoValuesFromStack">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyValue">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyValueSkipOne">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyValueSkipTwo">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyTwoValues">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyTwoValuesSkipOne">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyTwoValuesSkipTwo">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SwapIntegers">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddIntegers">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddLongs">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddFloats">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddDoubles">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractIntegers">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractLongs">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractFloats">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractDoubles">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyIntegers">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyLongs">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyFloats">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyDoubles">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideIntegers">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideLongs">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideFloats">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DivideDoubles">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ModuloIntegers">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ModuloLongs">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ModuloFloats">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ModuloDoubles">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NegateInteger">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NegateLong">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NegateFloat">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NegateDouble">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftIntegerLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftLongLeft">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftIntegerRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftLongRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftUnsignedIntegerRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftUnsignedLongRight">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndIntegers">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndLongs">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrIntegers">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrLongs">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrIntegers">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrLongs">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IncrementImmediate8VariableByImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertIntegerToLong">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertIntegerToFloat">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertIntegerToDouble">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertLongToInt">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertLongToFloat">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertLongToDouble">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertFloatToInteger">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertFloatToLong">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertFloatToDouble">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertDoubleToInteger">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertDoubleToLong">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertDoubleToFloat">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertIntegerToByte">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertIntegerToCharacter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ConvertIntegerToShort">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareLongs">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareFloatsNaNNegative">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareFloatsNaNPositive">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareDoublesNaNNegative">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareDoublesNaNPositive">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfZero16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfNotZero16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfNegative16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfPositiveOrZero16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfPositive16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfNegativeOrZero16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfIntegersEqual16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfIntegersNotEqual16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfIntegerLessThan16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfIntegerGreaterOrEqual16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfIntegerGreaterThan16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfIntegerLessOrEqual16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfReferencesEqual16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfReferencesNotEqual16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToRelative16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallRelative16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnToImmediate8VariableAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SwitchToImmediateTable">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SwitchToImmediateDictionary">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnInteger">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnLong">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnFloat">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnDouble">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReturnObject">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Return">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetImmediate16StaticFieldValue">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetImmediate16StaticFieldValue">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetImmediate16FieldValue">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SetImmediate16FieldValue">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InvokeImmediate16VirtualMethodOnObject">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InvokeImmediate16MethodOnObject">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InvokeImmediate16StaticMethod">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InvokeImmediate16InterfaceMethodOnObject">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CreateImmediate16TypeObject">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CreateImmediate8PrimitiveTypeArray">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CreateImmediate16TypeArray">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetArrayLength">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ThrowException">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TryCastImmediate16Type">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareObjectToImmediate16Type">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LockObject">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReleaseObject">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Operand16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CreateImmediate16TypeImmediate8DimensionArray">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfNull16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BranchToRelativeIfNotNull16">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="JumpToRelative32">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CallRelative32">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Breakpoint">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Debug0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Debug1">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>