OZone/Platforms/Intel/80386/Functions/Increment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80386/Increment" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="IncrementAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="IncrementDIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementAXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementCXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementBPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementSIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DecrementDIRegister">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>