OZone/Platforms/Intel/80386/Functions/Shift.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80386/Shift" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RotateLeftAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftAXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftCXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftIndexAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftImmediateAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightAXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightCXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightIndexAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightImmediateAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightAXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightCXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightIndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightAXAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightCXAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDXAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightIndexAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightImmediateAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftAXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftCXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftIndexAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightAXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightCXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightIndexAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressPlusImmediate8WithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightAXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightCXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightIndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightAXAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightCXAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDXAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightIndexAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressPlusImmediate8Signed">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftAXAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftCXAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDXAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBXAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftIndexAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftBPAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftSIAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateLeftDIAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightAXAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightCXAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDXAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBXAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightIndexAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightBPAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightSIAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RotateRightDIAddressPlusImmediateWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftLeftDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightAXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightCXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightIndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightAXAddressPlusImmediateSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightCXAddressPlusImmediateSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDXAddressPlusImmediateSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBXAddressPlusImmediateSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightIndexAddressPlusImmediateSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightBPAddressPlusImmediateSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightSIAddressPlusImmediateSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftRightDIAddressPlusImmediateSigned">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollALRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSPRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBPRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSIRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDIRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollALRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSPRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBPRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSIRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDIRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollALRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCLRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDLRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBLRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAHRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCHRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDHRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBHRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAXRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCXRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDXRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBXRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSPRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBPRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSIRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDIRegisterLeftWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollALRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCLRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDLRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBLRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAHRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCHRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDHRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBHRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollAXRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollCXRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDXRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBXRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSPRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollBPRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollSIRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="RollDIRegisterRightWithCarry">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftALRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBLRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBHRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBXRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSPRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBPRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSIRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDIRegisterLeft">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftALRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBLRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBHRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBXRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSPRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBPRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSIRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDIRegisterRight">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftALRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCLRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDLRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBLRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAHRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCHRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDHRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBHRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftAXRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftCXRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDXRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBXRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSPRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftBPRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftSIRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ShiftDIRegisterRightWithSign">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>