OZone/Platforms/Intel/80386/Functions/Stack.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80386/Stack" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PullAXAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCXAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDXAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullIndexAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullImmediateAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSIAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDIAddressFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAXAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCXAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDXAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullIndexAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSIAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDIAddressPlusImmediate8FromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAXAddressPlusImmediateFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCXAddressPlusImmediateFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDXAddressPlusImmediateFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXAddressPlusImmediateFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullIndexAddressPlusImmediateFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPAddressPlusImmediateFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSIAddressPlusImmediateFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDIAddressPlusImmediateFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullALRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCLRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDLRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBLRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAHRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCHRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDHRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBHRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullAXRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullCXRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDXRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBXRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSPRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullBPRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullSIRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PullDIRegisterFromStack">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>