OZone/Platforms/Ibm/Pc/Vesa/Power.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Vesa/Power" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InstallationCheck">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Connect">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ConnectProtected16">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ConnectProtected32">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Disconnect">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CpuIdle">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CpuBusy">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetState">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Enable">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Reset">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetStatus">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetEvent">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetState">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="EnableDevice">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetDriverVersion">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Engage">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetCapabilities">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ResumeTimer">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ResumeOnRing">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="TimerRequests">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>