OZone/Platforms/Ibm/Pc/Vesa/PowerState.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Vesa/Power/State" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Ready">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Standby">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Suspend">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Off">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LastRequestNotification">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="LastRequestRejected">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>