OZone/Platforms/Ibm/Pc/Vesa/PowerDevices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Vesa/Power/Devices" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SystemBios">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AllBiosDevices">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Display">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Storage">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ParallelPort">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SerialPort">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="NetworkAdapter">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="PCMCIASocket">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Battery">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="OEM">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AllDevices">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>