OZone/Platforms/Ibm/Pc/Vesa/SuperVgaInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Vesa/SuperVga/Information" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Signature">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Version">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OemNamePointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Capabilities">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SupportedVideoModeListPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TotalMemory">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OemSoftwareVersion">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="VendorNamePointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ProductNamePointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ProductRevisionPointer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AccelerationVersion">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AcceleratedVideoModeListPointer">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>