OZone/Platforms/Ibm/Pc/Vesa/SuperVga.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://metalx.org/Pc/Vesa/SuperVga"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GetSuperVgaInformation">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=GetSuperVgaInformation
			  ES=MemoryPage
			  DI=PageOffset

			  Output:
			  AL=4Fh
			  AH=Status
		  </xsd:documentation>
	  </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetVideoModeInformation">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=GetVideoModeInformation
			  CX=VideoMode
			  ES=MemoryPage
			  DI=PageOffset

			  Output:
			  AL=4Fh
			  AH=Status
		  </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="SetVideoMode">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=SetVideoMode
			  BX=VideoMode
			  ES=MemoryPage
			  DI=PageOffset

			  Output:
			  AL=4Fh
			  AH=Status
		  </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetCurrentVideoMode">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=GetCurrentVideoMode

			  Output:
			  AL=4Fh
			  AH=Status
			  BX=VideoMode
		  </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="VideoState">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=VideoState
			  CX=Flags
			  DL=Function
			  ES=MemoryPage
			  DI=MemoryOffset

			  Output:
			  AL=4Fh
			  AH=Status
		  </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="VideoWindow">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=VideoWindow
			  BH=Function (0=SetBank, 1=GetBank)
			  BL=Window (0=Window A, 1=Window B)
			  DX=Bank

			  Output:
			  AL=4Fh
			  AH=Status
			  DX=Bank
		  </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="VideoScanLine">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=VideoScanLine
			  BL=Function
			  CX=PixelsPerScanLine

			  Output:
			  AL=4Fh
			  AH=Status
			  BX=BytesPerScanLine
			  CX=PixelsPerScanLine
			  DX=ScanLineCount
		  </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="VideoDisplay">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=VideoDisplay
			  BX=Function
			  CX=FirstPixel
			  DX=FirstScanLine

			  Output:
			  AL=4Fh
			  AH=Status
		  </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="VideoPalette">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=VideoPalette
			  BL=Function
			  BH=BitsPerPixel

			  Output:
			  AL=4Fh
			  AH=Status
		  </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="VideoPaletteEntry">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=VideoPaletteEntry
			  BL=Function
			  CX=Count
			  DX=Index
			  ES=MemoryPage
			  DI=PageOffset

			  Output:
			  AL=4Fh
			  AH=Status
		  </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetProtectedModeInterface">
	  <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetNearestPixelClock">
	  <xsd:complexType />
  </xsd:element>
</xsd:schema>