OZone/Platforms/Ibm/Pc/Vesa/SuperVgaMode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Vesa/SuperVga/Mode" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Attributes">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WindowAttributesA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WindowAttributesB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WindowGranularity">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WindowSize">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WindowSegmentA">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WindowSegmentB">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="WindowPositionFunction">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ScanLineSize">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Width">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Height">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BitsPerPixel">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LinearBufferAddress">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>