OZone/Platforms/Ibm/Pc/Pci/Commands.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Pci/Commands" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="IOAccessEnabled">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MemoryAccessEnabled">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BusMasterEnabled">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SpecialCycleRecognitionEnabled">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="MemoryWriteAndInvalidateEnabled">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="VgaPaletteSnoopEnabled">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ParityErrorResponseEnabled">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WaitCyclesEnabled">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SystemErrorEnabled">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="FastTransactionsEnabled">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>