OZone/Platforms/Ibm/Pc/Pci/Status.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Pci/Status" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="NewCapabilitiesListPresent">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="HighSpeedAvailable">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="UdfAvailable">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="FastTransactionsAvailable">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReportsParityErrors">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DeviceSelectTiming">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DeviceSelectTimingFast">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DeviceSelectTimingMedium">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DeviceSelectTimingSlow">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SignaledTargetAbort">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReceivedTargetAbort">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ReceivedMasterAbort">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SignaledSystemError">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DetectedParityError">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>