OZone/Platforms/Intel/80386/ExtendedOperators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80386/ExtendedOperators" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="DescriptorTableFunction">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyControlRegisterToRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;20&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyRegisterToControlRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;22&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyAXDXToCXModelSpecificRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;30&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyCXModelSpecificRegisterToAXDX">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;32&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GetCpuInformation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RandomFunction">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyTimestampCounterToAXDX">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;31&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="EmptyMmxState">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;77&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyOperandToMmxRegister32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyMmxRegisterToOperand32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyOperandToMmxRegister64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CopyMmxRegisterToOperand64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister8WithSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister16WithSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister32WithSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister64WithSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister8WithSignedSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister16WithSignedSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;ED&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister32WithSignedSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AddOperandToMmxRegister64WithSignedSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister8WithSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister16WithSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister32WithSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister64WithSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister8WithSignedSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister16WithSignedSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister32WithSignedSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SubtractOperandFromMmxRegister64WithSignedSaturate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyMmxRegisterByOperandLow">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyMmxRegisterByOperandHigh">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyMmxRegisterByOperandHighSigned">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MultiplyMmxRegisterByOperandWithAdd">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndMmxRegisterWithOperand">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AndNotMmxRegisterWithOperand">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OrMmxRegisterWithOperand">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExclusiveOrMmxRegisterWithOperand">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterLeftByOperand8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterLeftByOperand16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterLeftByOperand32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterLeftByOperand64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterRightByOperand8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterRightByOperand16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterRightByOperand32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterRightByOperand64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterRightByOperandWithSign8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterRightByOperandWithSign16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterRightByOperandWithSign32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterRightByOperandWithSign64">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ShiftMmxRegisterByImmediateFunction">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PackOperandIntoMmxRegisterWithSignedSaturate32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PackOperandIntoMmxRegisterWithSaturate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;67&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PackOperandIntoMmxRegisterWithSignedSaturate16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;63&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="UnpackOperandToMmxRegisterLow8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;60&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="UnpackOperandToMmxRegisterLow16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;61&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="UnpackOperandToMmxRegisterLow32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;62&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="UnpackOperandToMmxRegisterHigh8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;68&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="UnpackOperandToMmxRegisterHigh16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;69&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="UnpackOperandToMmxRegisterHigh32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareEqualMmxRegisterWithOperand8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;74&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareEqualMmxRegisterWithOperand16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;75&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareEqualMmxRegisterWithOperand32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;76&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareGreaterMmxRegisterWithOperandWithSign8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;64&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareGreaterMmxRegisterWithOperandWithSign16">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;65&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CompareGreaterMmxRegisterWithOperandWithSign32">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;66&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>