OZone/Platforms/Intel/80386/MmxOperands.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80386/MmxOperands" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="MM0-AXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-CXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-DXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-IndexAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;05&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;06&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;07&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-AXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;08&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-CXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;09&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-DXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-IndexAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-AXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;10&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-CXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;11&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-DXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;12&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;13&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-IndexAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;14&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;15&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;16&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;17&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-AXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;18&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-CXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;19&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-DXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-IndexAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;1F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-AXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;20&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-CXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;21&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-DXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;22&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;23&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-IndexAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;24&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;25&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;26&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;27&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-AXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;28&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-CXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;29&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-DXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-IndexAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-AXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;30&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-CXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;31&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-DXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;32&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;33&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-IndexAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;34&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;35&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;36&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;37&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-AXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;38&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-CXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;39&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-DXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-BXAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-IndexAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-ImmediateAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-SIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-DIAddress">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;3F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-AXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;40&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-CXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;41&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-DXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;42&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;43&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-IndexAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;44&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;45&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;46&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;47&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-AXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;48&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-CXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;49&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-DXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-IndexAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-AXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;50&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-CXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;51&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-DXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;52&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;53&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-IndexAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;54&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;55&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;56&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;57&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-AXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;58&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-CXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;59&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-DXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-IndexAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;5F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-AXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;60&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-CXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;61&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-DXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;62&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;63&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-IndexAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;64&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;65&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;66&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;67&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-AXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;68&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-CXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;69&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-DXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-IndexAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-AXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;70&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-CXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;71&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-DXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;72&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;73&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-IndexAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;74&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;75&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;76&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;77&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-AXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;78&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-CXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;79&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-DXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-BXAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-IndexAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-BPAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-SIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-DIAddressPlusImmediate8">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;7F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-AXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;80&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-CXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;81&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-DXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;82&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-BXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;83&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-IndexAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;84&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-BPAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;85&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-SIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;86&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-DIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;87&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-AXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;88&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-CXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;89&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-DXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-BXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-IndexAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-BPAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-SIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-DIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-AXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;90&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-CXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;91&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-DXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;92&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-BXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;93&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-IndexAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;94&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-BPAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;95&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-SIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;96&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-DIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;97&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-AXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;98&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-CXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;99&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-DXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9A&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-BXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9B&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-IndexAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9C&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-BPAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9D&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-SIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9E&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-DIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;9F&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-AXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-CXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-DXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-BXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-IndexAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-BPAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-SIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-DIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-AXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-CXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;A9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-DXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-BXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-IndexAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-BPAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-SIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-DIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;AF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-AXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-CXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-DXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-BXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-IndexAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-BPAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-SIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-DIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-AXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-CXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;B9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-DXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;BA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-BXAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;BB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-IndexAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;BC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-BPAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;BD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-SIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;BE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-DIAddressPlusImmediate">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;BF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM0-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;C9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM1-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;CF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM2-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;D9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM3-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;DF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM4-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;E9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;ED&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM5-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;EF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM6-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-AXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-CXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;F9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-DXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FA&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-BXRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FB&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-SPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FC&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-BPRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FD&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-SIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FE&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MM7-DIRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;FF&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>