OZone/Platforms/Intel/80386/Operands.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80386/Operands" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AL-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-AXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-CXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-DXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-BXAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-IndexAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-ImmediateAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-SIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-DIAddress">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-AXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-CXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-DXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-BXAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-IndexAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-BPAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-SIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-DIAddressPlusImmediate8">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-AXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-CXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-DXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-BXAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-IndexAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-BPAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-SIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-DIAddressPlusImmediate">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-ALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-CLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-DLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-BLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-AHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-CHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-DHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AL-BHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-AXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-CXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-DXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-BXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-SPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-BPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-SIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AX-DIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-ALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-CLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-DLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-BLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-AHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-CHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-DHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CL-BHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-AXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-CXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-DXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-BXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-SPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-BPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-SIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CX-DIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-ALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-CLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-DLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-BLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-AHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-CHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-DHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DL-BHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-AXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-CXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-DXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-BXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-SPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-BPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-SIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DX-DIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-ALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-CLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-DLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-BLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-AHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-CHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-DHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BL-BHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-AXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-CXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-DXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-BXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-SPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-BPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-SIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BX-DIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-ALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-CLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-DLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-BLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-AHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-CHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-DHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="AH-BHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-AXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-CXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-DXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-BXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-SPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-BPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-SIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SP-DIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-ALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-CLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-DLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-BLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-AHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-CHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-DHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CH-BHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-AXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-CXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-DXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-BXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-SPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-BPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-SIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BP-DIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-ALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-CLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-DLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-BLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-AHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-CHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-DHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DH-BHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-AXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-CXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-DXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-BXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-SPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-BPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-SIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="SI-DIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-ALRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-CLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-DLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-BLRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-AHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-CHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-DHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="BH-BHRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-AXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-CXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-DXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-BXRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-SPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-BPRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-SIRegister">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DI-DIRegister">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>