OZone/Platforms/Intel/80386/Segments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Intel/80386/Segments" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ES-AXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-CXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-IndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-ImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-AXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-CXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-IndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-ImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-AXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-CXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-IndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-ImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-AXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-CXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-IndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-ImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-AXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-CXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-IndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-ImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-AXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-CXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-IndexAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-ImmediateAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DIAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-AXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-CXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-IndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-AXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-CXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-IndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-AXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-CXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-IndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-AXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-CXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-IndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-AXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-CXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-IndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-AXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-CXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-IndexAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DIAddressPlusImmediate8">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-AXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-CXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-IndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-AXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-CXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-IndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-AXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-CXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-IndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-AXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-CXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-IndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-AXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-CXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-IndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-AXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-CXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-IndexAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DIAddressPlusImmediate">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-AXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-CXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-BPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-SIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ES-DIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-AXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-CXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-BPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-SIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CS-DIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-AXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-CXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-BPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-SIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SS-DIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-AXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-CXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-BPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-SIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DS-DIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-AXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-CXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-BPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-SIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FS-DIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-AXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-CXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BXRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-BPRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-SIRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="GS-DIRegister">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>