OZone/Platforms/Ibm/Pc/Floppy/DataRate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Floppy/DataRate" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DataRate500Kbps">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DataRate300Kbps">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DataRate250Kbps">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DataRate1Mbps">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>