OZone/Platforms/Ibm/Pc/Floppy/DigitalOutput.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Floppy/DigitalOutput" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SelectDrive0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SelectDrive1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SelectDrive2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SelectDrive3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Enabled">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="IrqAndDmaEnabled">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Drive0MotorEnabled">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Drive1MotorEnabled">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Drive2MotorEnabled">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Drive3MotorEnabled">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>