OZone/Platforms/Ibm/Pc/Floppy/Status.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/Floppy/Status" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Drive0Busy">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Drive1Busy">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Drive2Busy">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="Drive3Busy">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CommandReceived">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="ExecutingCommand">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DataAvailable">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="WaitingForData">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>