OZone/Platforms/Yamaha/Opl2/Registers.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://metalx.org/Yamaha/Opl2/Registers"
            elementFormDefault="qualified">
	<xsd:element name="Channel1Modulation1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;20&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2Modulation1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;21&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3Modulation1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;22&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1Modulation2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;23&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2Modulation2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;24&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3Modulation2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;25&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4Modulation1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;28&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5Modulation1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;29&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6Modulation1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4Modulation2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5Modulation2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6Modulation2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;2d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7Modulation1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;30&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8Modulation1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;31&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9Modulation1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;32&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7Modulation2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;33&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8Modulation2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;34&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9Modulation2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;35&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1Output1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;40&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2Output1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;41&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3Output1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;42&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1Output2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;43&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2Output2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;44&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3Output2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;45&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4Output1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;48&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5Output1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;49&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6Output1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4Output2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5Output2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6Output2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;4d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7Output1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;50&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8Output1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;51&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9Output1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;52&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7Output2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;53&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8Output2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;54&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9Output2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;55&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1AttackDecay1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;60&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2AttackDecay1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;61&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3AttackDecay1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;62&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1AttackDecay2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;63&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2AttackDecay2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;64&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3AttackDecay2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;65&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4AttackDecay1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;68&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5AttackDecay1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;69&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6AttackDecay1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4AttackDecay2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5AttackDecay2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6AttackDecay2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;6d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7AttackDecay1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;70&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8AttackDecay1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;71&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9AttackDecay1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;72&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7AttackDecay2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;73&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8AttackDecay2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;74&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9AttackDecay2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;75&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1SustainRelease1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;80&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2SustainRelease1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;81&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3SustainRelease1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;82&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1SustainRelease2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;83&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2SustainRelease2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;84&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3SustainRelease2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;85&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4SustainRelease1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;88&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5SustainRelease1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;89&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6SustainRelease1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4SustainRelease2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8b&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5SustainRelease2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6SustainRelease2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;8d&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7SustainRelease1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;90&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8SustainRelease1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;91&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9SustainRelease1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;92&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7SustainRelease2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;93&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8SustainRelease2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;94&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9SustainRelease2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;95&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1Frequency">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2Frequency">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3Frequency">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4Frequency">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5Frequency">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6Frequency">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7Frequency">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8Frequency">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9Frequency">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;a8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1KeyOn">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;b0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2KeyOn">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;b1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3KeyOn">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;b2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4KeyOn">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;b3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5KeyOn">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;b4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6KeyOn">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;b5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7KeyOn">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;b6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8KeyOn">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;b7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9KeyOn">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;b8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1Feedback">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;c0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2Feedback">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;c1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3Feedback">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;c2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4Feedback">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;c3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5Feedback">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;c4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6Feedback">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;c5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7Feedback">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;c6&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8Feedback">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;c7&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9Feedback">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;c8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1Waveform1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;e0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2Waveform1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;e1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3Waveform1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;e2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel1Waveform2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;e3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel2Waveform2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;e4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel3Waveform2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;e5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4Waveform1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;e8&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5Waveform1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;e9&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6Waveform1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;ea&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel4Waveform2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;eb&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel5Waveform2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;ec&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel6Waveform2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;ed&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7Waveform1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;f0&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8Waveform1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;f1&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9Waveform1">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;f2&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel7Waveform2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;f3&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel8Waveform2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;f4&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Channel9Waveform2">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;f5&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Drums">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;bd&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>
