OZone/Functions/C64/Class.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/C64/Functions/Class" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="FindMethod">
		<xsd:complexType>
			<xsd:attribute name="class" type="xsd:IDREF"/>
			<xsd:attribute name="methodName" type="xsd:IDREF"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
