OZone/Platforms/Creative/SoundBlaster/Ports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Creative/SoundBlaster/Ports" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="FmStatusLegacy">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FmRegisterLegacy">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;00&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FmDataLegacy">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;01&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FmStatusAdvanced">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FmAddressAdvanced">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;02&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FmDataAdvanced">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;03&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MixerRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;04&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MixerData">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;05&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DspReset">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;06&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FmStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;08&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FmRegister">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;08&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FmData">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;09&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DspRead">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0a&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DspWrite">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DspWriteStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0c&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DspReadStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;0e&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CdRomData">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;10&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CdRomStatus">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;11&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CdRomReset">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;12&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CdRomEnable">
		<xsd:annotation>
			<xsd:documentation>
				&lt;hex&gt;13&lt;/hex&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType />
	</xsd:element>
</xsd:schema>