OZone/Platforms/Amd/PcNet/BusConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Amd/PcNet/BusConfiguration" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="MiscellaneousConfiguration">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Led0Status">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Led1Status">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Led2Status">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Led3Status">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="FullDuplex">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BusControl">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Eeprom">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SoftwareStyle">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciLatency">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciSubsystemID">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciSubsystemVendorID">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SramSize">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SramBoundary">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SramInterface">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExpansionBusLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExpansionBusUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExpansionBusData">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SoftwareTimer">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PhyControlAndStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PhyAddress">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PhyManagementData">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciVendorID">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciPowerManagementCapabilities">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciData0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciData1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciData2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciData3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciData4">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciData5">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciData6">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PciData7">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PatternMatching1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PatternMatching2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PatternMatching3">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>