OZone/Platforms/Amd/PcNet/ControlStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Amd/PcNet/ControlStatus" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ControlAndStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InitializationAddress0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InitializationAddress1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InterruptMaskAndDeferral">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestAndFeatureControl">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExtendedControlAndInterrupt1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DescriptorTableLengths">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ExtendedControlAndInterrupt2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LogicalAddressFilter0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LogicalAddressFilter1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LogicalAddressFilter2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="LogicalAddressFilter3">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PhysicalAddress0">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PhysicalAddress1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PhysicalAddress2">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="Mode">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InitializationAddressLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="InitializationAddressUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentReceiveBufferLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentReceiveBufferUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentTransmitBufferLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentTransmitBufferUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextReceiveBufferLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextReceiveBufferUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReceiveRingLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReceiveRingUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextReceiveDescriptorLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextReceiveDescriptorUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentReceiveDescriptorLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentReceiveDescriptorUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitRingLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitRingUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextTransmitDescriptorLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextTransmitDescriptorUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentTransmitDescriptorLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentTransmitDescriptorUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextNextReceiveDescriptorLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextNextReceiveDescriptorUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextNextTransmitDescriptorLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextNextTransmitDescriptorUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentReceivedByteCount">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="CurrentReceiveStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitByteCount">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextReceivedByteCount">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextReceiveStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitPollCounter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitPollInterval">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReceivePollCounter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReceivePollInterval">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="SoftwareStyle">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PreviousTransmitDescriptorLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PreviousTransmitDescriptorUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PreviousTransmitByteCount">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="PreviousTransmitStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextTransmitBufferLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextTransmitBufferUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextTransmitByteCount">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="NextTransmitStatus">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReceiveRingCounter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitRingCounter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReceiveRingLength">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitRingLength">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DmaTransferAndFifoThreshold">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TransmitDescriptorLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DmaRegisterLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="DmaRegisterUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BufferByteCounter">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ChipIDRegisterLower">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ChipIDRegisterUpper">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RingLengthConversion">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BusTimeout">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MissedFrameCount">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ReceiveCollisionCount">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="OnNowPowerMode">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="AdvancedFeatures">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="TestRegister1">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="MacEnhancedConfiguration">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>