OZone/Platforms/Amd/PcNet/Ports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Amd/PcNet/Ports" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="RegisterData">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="RegisterAccess">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="ResetRegister">
		<xsd:complexType />
	</xsd:element>
	<xsd:element name="BusData">
		<xsd:complexType />
	</xsd:element>
</xsd:schema>