OZone/Platforms/Ibm/Pc/PlugNPlay/Pnp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://metalx.org/Pc/System/Pnp" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InstallationCheck">
	  <xsd:annotation>
		  <xsd:documentation>
			  Input:
			  AX=InstallationCheck

			  Output:
			  AX=0
			  CF=Clear
			  BH=MajorVersion
			  BL=MinorVersion
			  EDX=47464341h ('ACFG')
		  </xsd:documentation>
	  </xsd:annotation>
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetDefaultConfigTable">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="CopyAndVerifyConfigTable">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="StoreEscdTableInNonVolatileRam">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetAvailableIrqs">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="GetPciIrqRoutingTable">
    <xsd:complexType />
  </xsd:element>
</xsd:schema>